Repository DataDog/helm-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/container-helm-chart-maintainers, @DataDog/documentation, @DataDog/container-ecosystems, @DataDog/ebpf-platform, @Datadog/synthetics, @DataDog/observability-pipelines-worker

Update charts/datadog/CHANGELOG.md
  charts/datadog/CHANGELOG.md
Owners: @DataDog/container-helm-chart-maintainers

Remove buggy chmod directive (#1180)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/cluster-agent-deployment.yaml
Owners: @DataDog/container-helm-chart-maintainers

Update index.yaml
  index.yaml
Owners: @DataDog/container-helm-chart-maintainers

Enable container image collection
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
Owners: @DataDog/container-helm-chart-maintainers

Document what is the minimum version of the agent
  charts/datadog/values.yaml
Owners: @DataDog/container-helm-chart-maintainers

Update charts/datadog/values.yaml
  charts/datadog/values.yaml
Owners: @DataDog/container-helm-chart-maintainers

Fix agent local k8s service to include apm traceport (#1220)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/agent-services.yaml
  charts/datadog/values.yaml
Owners: @DataDog/container-helm-chart-maintainers

Update index.yaml
  index.yaml
Owners: @DataDog/container-helm-chart-maintainers

Skip Operator integ tests on PRs from forks
  .github/workflows/go-test.yaml
Owners: @DataDog/container-helm-chart-maintainers

TEST CI
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
Owners: @DataDog/container-helm-chart-maintainers

Don't skip on go-test.yaml
  .github/workflows/go-test.yaml
Owners: @DataDog/container-helm-chart-maintainers

Skip Operator integ tests on PRs from forks (#1229)
  .github/workflows/go-test.yaml
Owners: @DataDog/container-helm-chart-maintainers

TEST CI
  charts/datadog/values.yaml
Owners: @DataDog/container-helm-chart-maintainers

TEST CI
  charts/datadog/values.yaml
Owners: @DataDog/container-helm-chart-maintainers

TEST CI
  charts/datadog/values.yaml
Owners: @DataDog/container-helm-chart-maintainers

Add Observability Pipelines Worker to README
  README.md
Owners: @DataDog/documentation, @DataDog/container-helm-chart-maintainers

Add Observability Pipelines Worker to README (#1233)
  README.md
Owners: @DataDog/documentation, @DataDog/container-helm-chart-maintainers

Bump chart minor version
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
Owners: @DataDog/container-helm-chart-maintainers

Update README
  charts/datadog/README.md
Owners: @DataDog/container-helm-chart-maintainers

Separate `DD_CONTAINER_INCLUDE/EXCLUDE` for agent/cluster agent (#1205)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_components-common-env.yaml
  charts/datadog/templates/_containers-common-env.yaml
  charts/datadog/templates/cluster-agent-deployment.yaml
  charts/datadog/values.yaml
Owners: @DataDog/container-helm-chart-maintainers

Update index.yaml
  index.yaml
Owners: @DataDog/container-helm-chart-maintainers

fix(datadog-operator): fix PodDisruptionBudget creation issue when setting replicaCount via --set
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/pod_disruption_budget.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog-operator/baseline/Operator_Deployment_with_certManager.yaml
Owners: @DataDog/container-ecosystems, @DataDog/container-helm-chart-maintainers

fix(datadog-operator): fix PodDisruptionBudget creation issue when setting replicaCount via --set (#1227)
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/pod_disruption_budget.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog-operator/baseline/Operator_Deployment_with_certManager.yaml
Owners: @DataDog/container-ecosystems, @DataDog/container-helm-chart-maintainers

Update index.yaml
  index.yaml
Owners: @DataDog/container-helm-chart-maintainers

Add SSI parameter to CI testing
  charts/datadog/ci/apm-single-step-instrumentation-admission-controller-values.yaml
Owners: @DataDog/container-helm-chart-maintainers

feat: datadog-operator volumes
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/deployment.yaml
  charts/datadog-operator/values.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog-operator/baseline/Operator_Deployment_with_certManager.yaml
Owners: @DataDog/container-ecosystems, @DataDog/container-helm-chart-maintainers

feat: datadog-operator volumes (#1224)
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/deployment.yaml
  charts/datadog-operator/values.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog-operator/baseline/Operator_Deployment_with_certManager.yaml
Owners: @DataDog/container-ecosystems, @DataDog/container-helm-chart-maintainers

Update index.yaml
  index.yaml
Owners: @DataDog/container-helm-chart-maintainers

Enable container image collection (#1228)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
Owners: @DataDog/container-helm-chart-maintainers

Update index.yaml
  index.yaml
Owners: @DataDog/container-helm-chart-maintainers

chore: update FIPS Proxy version to 1.0.0
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
Owners: @DataDog/container-helm-chart-maintainers

chore: update README version
  charts/datadog/README.md
Owners: @DataDog/container-helm-chart-maintainers

support dnsPolicy configuration
  charts/synthetics-private-location/CHANGELOG.md
  charts/synthetics-private-location/Chart.yaml
  charts/synthetics-private-location/README.md
  charts/synthetics-private-location/templates/deployment.yaml
  charts/synthetics-private-location/values.yaml
Owners: @Datadog/synthetics

Bump chart version
  charts/datadog/Chart.yaml
  charts/datadog/README.md
Owners: @DataDog/container-helm-chart-maintainers

Add GCR EU and Asia registries
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_helpers.tpl
  charts/datadog/values.yaml
Owners: @DataDog/container-helm-chart-maintainers

Add GCR EU and Asia registries (#1238)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_helpers.tpl
  charts/datadog/values.yaml
Owners: @DataDog/container-helm-chart-maintainers

Update index.yaml
  index.yaml
Owners: @DataDog/container-helm-chart-maintainers

Fix registry helper to prioritize .Values.registry
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_helpers.tpl
Owners: @DataDog/container-helm-chart-maintainers

CRD update from 1.3.0-rc.1
  charts/datadog-crds/templates/datadoghq.com_datadogagents_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogagents_v1beta1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogslos_v1.yaml
  charts/datadog-crds/update-crds.sh
  charts/datadog-crds/values.yaml
  crds/datadoghq.com_datadogagents.yaml
  crds/datadoghq.com_datadogslos.yaml
Owners: @DataDog/container-ecosystems, @DataDog/container-helm-chart-maintainers

Fail helm installation in case of bad SSI configurations
  charts/datadog/templates/NOTES.txt
Owners: @DataDog/container-helm-chart-maintainers

.github/CODEOWNERS:

# Code owners for charts

*  @DataDog/container-helm-chart-maintainers

# Documentation
*.md             @DataDog/documentation @DataDog/container-helm-chart-maintainers

# Charts
charts/datadog-crds                                  @DataDog/container-ecosystems
charts/datadog-operator                              @DataDog/container-ecosystems
charts/extended-daemon-set                           @DataDog/container-ecosystems
charts/datadog                                       @DataDog/container-helm-chart-maintainers
charts/datadog/templates/container-system-probe.yaml @DataDog/ebpf-platform @DataDog/container-helm-chart-maintainers
charts/datadog/templates/system-probe-configmap.yaml @DataDog/ebpf-platform @DataDog/container-helm-chart-maintainers
charts/datadog/templates/system-probe-init.yaml      @DataDog/ebpf-platform @DataDog/container-helm-chart-maintainers
charts/synthetics-private-location/                  @Datadog/synthetics
charts/observability-pipelines-worker                @DataDog/observability-pipelines-worker
