Repository DataDog/helm-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/container-helm-chart-maintainers, @DataDog/documentation, @DataDog/container-ecosystems, @DataDog/ebpf-platform, @Datadog/synthetics, @DataDog/observability-pipelines-worker

Add default container resources for gke autopilot
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_container-agent.yaml
  charts/datadog/templates/_container-process-agent.yaml
  charts/datadog/templates/_container-resources.yaml
  charts/datadog/templates/_container-trace-agent.yaml
  charts/datadog/templates/_containers-init-linux.yaml
  charts/datadog/templates/agent-clusterchecks-deployment.yaml
  charts/datadog/templates/cluster-agent-deployment.yaml
  charts/datadog/values.yaml
Owners: @DataDog/container-helm-chart-maintainers

Fix NOTES for APM Instrumentation
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/NOTES.txt
Owners: @DataDog/container-helm-chart-maintainers

[APM Onboarding] Generate DD_INSTRUMENTATION_INSTALL_TIME and DD_INSTRUMENTATION_INSTALL_ID
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/cluster-agent-deployment.yaml
Owners: @DataDog/container-helm-chart-maintainers

Get rid of the old GODEBUG=x509ignoreCN=0 hack
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_containers-common-env.yaml
Owners: @DataDog/container-helm-chart-maintainers

Get rid of the old GODEBUG=x509ignoreCN=0 hack (#1264)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_containers-common-env.yaml
Owners: @DataDog/container-helm-chart-maintainers

Update index.yaml
  index.yaml
Owners: @DataDog/container-helm-chart-maintainers

Fix NOTES for APM Instrumentation (#1261)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/NOTES.txt
Owners: @DataDog/container-helm-chart-maintainers

Update index.yaml
  index.yaml
Owners: @DataDog/container-helm-chart-maintainers

Fix VolumeMounts for Agent container when sbom host is enabled
  charts/datadog/templates/_container-agent.yaml
Owners: @DataDog/container-helm-chart-maintainers

Version and Changelog update
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
Owners: @DataDog/container-helm-chart-maintainers

Adding SBOM Host test file
  charts/datadog/ci/sbom-host.yaml
Owners: @DataDog/container-helm-chart-maintainers

CRD update from 1.3.0 (#1243)
  charts/datadog-crds/CHANGELOG.md
  charts/datadog-crds/Chart.yaml
  charts/datadog-crds/README.md
  charts/datadog-crds/templates/datadoghq.com_datadogagents_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogagents_v1beta1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogslos_v1.yaml
  charts/datadog-crds/update-crds.sh
  charts/datadog-crds/values.yaml
  crds/datadoghq.com_datadogagents.yaml
  crds/datadoghq.com_datadogslos.yaml
Owners: @DataDog/container-ecosystems, @DataDog/container-helm-chart-maintainers

Update index.yaml
  index.yaml
Owners: @DataDog/container-helm-chart-maintainers

Update Operator chart for 1.3.0 release
  charts/datadog-operator/Chart.lock
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/README.md.gotmpl
  charts/datadog-operator/values.yaml
  test/datadog-operator/baseline/DatadogAgent_CRD_default.yaml
  test/datadog-operator/baseline/DatadogAgent_CRD_with_certManager.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog-operator/baseline/Operator_Deployment_with_certManager.yaml
  test/datadog-operator/operator_deployment_test.go
Owners: @DataDog/container-ecosystems, @DataDog/container-helm-chart-maintainers

Set KPI env variables on tracer agent
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_container-trace-agent.yaml
  charts/datadog/templates/_containers-common-env.yaml
  charts/datadog/templates/cluster-agent-deployment.yaml
Owners: @DataDog/container-helm-chart-maintainers

Fix chart version in changelog
  charts/datadog/CHANGELOG.md
Owners: @DataDog/container-helm-chart-maintainers

Update Operator chart for 1.3.0 release (#1268)
  charts/datadog-operator/Chart.lock
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/README.md.gotmpl
  charts/datadog-operator/values.yaml
  test/datadog-operator/baseline/DatadogAgent_CRD_default.yaml
  test/datadog-operator/baseline/DatadogAgent_CRD_with_certManager.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog-operator/baseline/Operator_Deployment_with_certManager.yaml
  test/datadog-operator/operator_deployment_test.go
Owners: @DataDog/container-ecosystems, @DataDog/container-helm-chart-maintainers

Update index.yaml
  index.yaml
Owners: @DataDog/container-helm-chart-maintainers

Parameter to enable SLO controller
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/deployment.yaml
  charts/datadog-operator/values.yaml
Owners: @DataDog/container-ecosystems

checklist
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
Owners: @DataDog/container-ecosystems, @DataDog/container-helm-chart-maintainers

fix
  charts/datadog-operator/templates/deployment.yaml
Owners: @DataDog/container-ecosystems

Release OPW 1.7.1 chart
  charts/observability-pipelines-worker/CHANGELOG.md
  charts/observability-pipelines-worker/Chart.yaml
  charts/observability-pipelines-worker/README.md
Owners: @DataDog/observability-pipelines-worker

Release OPW 1.7.1 chart (#1271)
  charts/observability-pipelines-worker/CHANGELOG.md
  charts/observability-pipelines-worker/Chart.yaml
  charts/observability-pipelines-worker/README.md
Owners: @DataDog/observability-pipelines-worker

Update index.yaml
  index.yaml
Owners: @DataDog/container-helm-chart-maintainers

Update charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/CHANGELOG.md
Owners: @DataDog/container-ecosystems

adjust clusterrole
  charts/datadog-operator/templates/clusterrole.yaml
Owners: @DataDog/container-ecosystems

update baselines
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog-operator/baseline/Operator_Deployment_with_certManager.yaml
Owners: @DataDog/container-helm-chart-maintainers

Parameter to enable SLO controller
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/clusterrole.yaml
  charts/datadog-operator/templates/deployment.yaml
  charts/observability-pipelines-worker/CHANGELOG.md
  charts/observability-pipelines-worker/Chart.yaml
  charts/observability-pipelines-worker/README.md
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog-operator/baseline/Operator_Deployment_with_certManager.yaml
Owners: @DataDog/container-ecosystems, @DataDog/observability-pipelines-worker, @DataDog/container-helm-chart-maintainers

# This is a combination of 3 commits. # This is the 1st commit message:
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.lock
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/README.md.gotmpl
  charts/datadog-operator/templates/clusterrole.yaml
  charts/datadog-operator/templates/deployment.yaml
  charts/datadog-operator/values.yaml
  charts/observability-pipelines-worker/CHANGELOG.md
  charts/observability-pipelines-worker/Chart.yaml
  charts/observability-pipelines-worker/README.md
  test/datadog-operator/baseline/DatadogAgent_CRD_default.yaml
  test/datadog-operator/baseline/DatadogAgent_CRD_with_certManager.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog-operator/baseline/Operator_Deployment_with_certManager.yaml
  test/datadog-operator/operator_deployment_test.go
Owners: @DataDog/container-ecosystems, @DataDog/observability-pipelines-worker, @DataDog/container-helm-chart-maintainers

Parameter to enable SLO controller
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/deployment.yaml
  charts/datadog-operator/values.yaml
Owners: @DataDog/container-ecosystems

Parameter to enable SLO controller: rebase and sign
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/clusterrole.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog-operator/baseline/Operator_Deployment_with_certManager.yaml
Owners: @DataDog/container-ecosystems, @DataDog/container-helm-chart-maintainers

Parameter to enable SLO controller: rebase and sign, pt2
  charts/datadog-operator/templates/deployment.yaml
  charts/datadog-operator/values.yaml
Owners: @DataDog/container-ecosystems

Parameter to enable SLO controller: rebase and sign (#1273)
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/clusterrole.yaml
  charts/datadog-operator/templates/deployment.yaml
  charts/datadog-operator/values.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog-operator/baseline/Operator_Deployment_with_certManager.yaml
Owners: @DataDog/container-ecosystems, @DataDog/container-helm-chart-maintainers

Update index.yaml
  index.yaml
Owners: @DataDog/container-helm-chart-maintainers

Update agent-clusterchecks-rbac.yaml
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/agent-clusterchecks-rbac.yaml
  charts/datadog/templates/rbac.yaml
Owners: @DataDog/container-helm-chart-maintainers

chore: update FIPS Proxy version to 1.0.1
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
Owners: @DataDog/container-helm-chart-maintainers

Set KPI env variables on Cluster Agent
  charts/datadog/templates/_containers-common-env.yaml
  charts/datadog/templates/cluster-agent-deployment.yaml
Owners: @DataDog/container-helm-chart-maintainers

Mount host filesystem when host SBOM is enabled
  charts/datadog/templates/_container-agent.yaml
  charts/datadog/templates/_daemonset-volumes-linux.yaml
Owners: @DataDog/container-helm-chart-maintainers

Only mount host package manager directories
  charts/datadog/templates/_container-agent.yaml
  charts/datadog/templates/_daemonset-volumes-linux.yaml
Owners: @DataDog/container-helm-chart-maintainers

Bump version to 3.49.8
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
Owners: @DataDog/container-helm-chart-maintainers

.github/CODEOWNERS:

# Code owners for charts

*  @DataDog/container-helm-chart-maintainers

# Documentation
*.md             @DataDog/documentation @DataDog/container-helm-chart-maintainers

# Charts
charts/datadog-crds                                  @DataDog/container-ecosystems
charts/datadog-operator                              @DataDog/container-ecosystems
charts/extended-daemon-set                           @DataDog/container-ecosystems
charts/datadog                                       @DataDog/container-helm-chart-maintainers
charts/datadog/templates/container-system-probe.yaml @DataDog/ebpf-platform @DataDog/container-helm-chart-maintainers
charts/datadog/templates/system-probe-configmap.yaml @DataDog/ebpf-platform @DataDog/container-helm-chart-maintainers
charts/datadog/templates/system-probe-init.yaml      @DataDog/ebpf-platform @DataDog/container-helm-chart-maintainers
charts/synthetics-private-location/                  @Datadog/synthetics
charts/observability-pipelines-worker                @DataDog/observability-pipelines-worker
