Repository DataDog/helm-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/container-integrations, @DataDog/documentation, @DataDog/networks, @Datadog/synthetics

.github/CODEOWNERS:

# Code owners for charts

*  @DataDog/container-integrations

# Documentation
*.md             @DataDog/documentation @DataDog/container-integrations

# Charts
charts/datadog/templates/container-system-probe.yaml @DataDog/networks @DataDog/container-integrations
charts/datadog/templates/system-probe-configmap.yaml @DataDog/networks @DataDog/container-integrations
charts/datadog/templates/system-probe-init.yaml      @DataDog/networks @DataDog/container-integrations
charts/synthetics-private-location/*                 @Datadog/synthetics @DataDog/container-integrations

Makes handling of useHostPID consistent
  charts/datadog/templates/agent-scc.yaml
  charts/datadog/templates/daemonset.yaml
Owners: @DataDog/container-integrations

Updated chart version
  charts/datadog/Chart.yaml
  charts/datadog/README.md
Owners: @DataDog/container-integrations, @DataDog/documentation

update crds path in datadog-operator repo
  charts/datadog-crds/README.md
  charts/datadog-crds/README.md.gotmpl
  charts/datadog-crds/templates/datadoghq.com_datadogagents_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogagents_v1beta1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogmetrics_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogmetrics_v1beta1.yaml
  charts/datadog-crds/update-crds.sh
  crds/datadoghq.com_datadogagents.yaml
  crds/datadoghq.com_datadogmetrics.yaml
Owners: @DataDog/documentation, @DataDog/container-integrations

Update index.yaml
  index.yaml
Owners: @DataDog/container-integrations

Add datadog-crds chart (#78)
  charts/datadog-crds/.helmignore
  charts/datadog-crds/CHANGELOG.md
  charts/datadog-crds/Chart.yaml
  charts/datadog-crds/README.md
  charts/datadog-crds/README.md.gotmpl
  charts/datadog-crds/ci/kubeval.yaml
  charts/datadog-crds/templates/NOTES.txt
  charts/datadog-crds/templates/_helpers.tpl
  charts/datadog-crds/templates/datadoghq.com_datadogagents_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogagents_v1beta1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogmetrics_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogmetrics_v1beta1.yaml
  charts/datadog-crds/update-crds.sh
  charts/datadog-crds/values.yaml
  crds/datadoghq.com_datadogagents.yaml
  crds/datadoghq.com_datadogmetrics.yaml
Owners: @DataDog/container-integrations, @DataDog/documentation

Update index.yaml
  index.yaml
Owners: @DataDog/container-integrations

make dd tags a tpl value
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/containers-common-env.yaml
Owners: @DataDog/documentation, @DataDog/container-integrations

Update index.yaml
  index.yaml
Owners: @DataDog/container-integrations

Update datadog-crds chart.yaml apiVersion to v1
  charts/datadog-crds/CHANGELOG.md
  charts/datadog-crds/Chart.yaml
  charts/datadog-crds/README.md
Owners: @DataDog/documentation, @DataDog/container-integrations

Update datadog-crds chart.yaml apiVersion to v1 (#97)
  charts/datadog-crds/CHANGELOG.md
  charts/datadog-crds/Chart.yaml
  charts/datadog-crds/README.md
Owners: @DataDog/documentation, @DataDog/container-integrations

Update index.yaml
  index.yaml
Owners: @DataDog/container-integrations

Add 'datadog-crds' chart as 'datadog' dependency
  .github/ct.yaml
  .github/workflows/ci.yaml
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/requirements.lock
  charts/datadog/requirements.yaml
  charts/datadog/values.yaml
Owners: @DataDog/container-integrations, @DataDog/documentation
