Repository DataDog/helm-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/container-integrations, @DataDog/documentation, @DataDog/networks

un-deprecate systemProbe.enabled
  charts/datadog/README.md
Owners: @DataDog/documentation, @DataDog/container-integrations

Rename networkConfig to networkMonitoring
  charts/datadog/CHANGELOG.md
  charts/datadog/README.md
  charts/datadog/templates/_helpers.tpl
  charts/datadog/templates/container-process-agent.yaml
  charts/datadog/templates/containers-init-linux.yaml
  charts/datadog/templates/system-probe-configmap.yaml
  charts/datadog/values.yaml
Owners: @DataDog/documentation, @DataDog/container-integrations, @DataDog/networks

fixup
  charts/datadog/CHANGELOG.md
Owners: @DataDog/documentation, @DataDog/container-integrations

fixup
  charts/datadog/README.md
  charts/datadog/templates/containers-init-linux.yaml
  charts/datadog/values.yaml
Owners: @DataDog/documentation, @DataDog/container-integrations

Update docs
  charts/datadog/README.md
  charts/datadog/values.yaml
Owners: @DataDog/documentation, @DataDog/container-integrations

Allow for external secrets references
  charts/datadog/templates/cluster-agent-deployment.yaml
  charts/datadog/templates/containers-common-env.yaml
  charts/datadog/templates/daemonset.yaml
  charts/datadog/templates/secrets.yaml
  charts/datadog/values.yaml
Owners: @DataDog/container-integrations

Propagate agents volume mounts to all agent containers
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/templates/container-process-agent.yaml
  charts/datadog/templates/container-security-agent.yaml
  charts/datadog/templates/container-system-probe.yaml
  charts/datadog/templates/container-trace-agent.yaml
Owners: @DataDog/documentation, @DataDog/container-integrations, @DataDog/networks

Update doc
  charts/datadog/README.md
Owners: @DataDog/documentation, @DataDog/container-integrations

Add datadog-crds chart
  charts/datadog-crds/.helmignore
  charts/datadog-crds/Chart.yaml
  charts/datadog-crds/README.md
  charts/datadog-crds/README.md.gotmpl
  charts/datadog-crds/templates/NOTES.txt
  charts/datadog-crds/templates/_helpers.tpl
  charts/datadog-crds/templates/datadoghq.com_datadogagents.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogmetrics.yaml
  charts/datadog-crds/update-crds.sh
  charts/datadog-crds/values.yaml
  crds/datadoghq.com_datadogagents.yaml
  crds/datadoghq.com_datadogmetrics.yaml
Owners: @DataDog/container-integrations, @DataDog/documentation

update description
  charts/datadog/README.md
  charts/datadog/values.yaml
Owners: @DataDog/documentation, @DataDog/container-integrations

.github/CODEOWNERS:

# Code owners for charts

*  @DataDog/container-integrations

# Documentation
*.md             @DataDog/documentation @DataDog/container-integrations
charts/datadog/templates/container-system-probe.yaml @DataDog/networks @DataDog/container-integrations
charts/datadog/templates/system-probe-configmap.yaml @DataDog/networks @DataDog/container-integrations
charts/datadog/templates/system-probe-init.yaml      @DataDog/networks @DataDog/container-integrations
