Repository DataDog/helm-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/container-helm-chart-maintainers, @DataDog/documentation, @DataDog/container-ecosystems, @DataDog/ebpf-platform, @Datadog/synthetics, @DataDog/observability-pipelines-worker

Update changelog, version, doc
  charts/datadog-crds/CHANGELOG.md
  charts/datadog-crds/Chart.yaml
  charts/datadog-crds/README.md
Owners: @DataDog/container-ecosystems

Fix lint
  charts/datadog/templates/NOTES.txt
Owners: @DataDog/container-helm-chart-maintainers

Fix registry helper to prioritize .Values.registry (#1242)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_helpers.tpl
Owners: @DataDog/container-helm-chart-maintainers

Update index.yaml
  index.yaml
Owners: @DataDog/container-helm-chart-maintainers

Fix chart version
  charts/datadog/Chart.yaml
  charts/datadog/README.md
Owners: @DataDog/container-helm-chart-maintainers

[datadog] fix test values file in CI
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/ci/gke-autopilot-cri-less-values.yaml
Owners: @DataDog/container-helm-chart-maintainers

[datadog] fix test values file in CI (#1244)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/ci/gke-autopilot-cri-less-values.yaml
Owners: @DataDog/container-helm-chart-maintainers

Update index.yaml
  index.yaml
Owners: @DataDog/container-helm-chart-maintainers

Enable Single Step Instrumentation
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/README.md.gotmpl
  charts/datadog/ci/apm-single-step-instrumentation-admission-controller-values.yaml
  charts/datadog/templates/NOTES.txt
  charts/datadog/templates/cluster-agent-deployment.yaml
  charts/datadog/values.yaml
Owners: @DataDog/container-helm-chart-maintainers

support dnsPolicy configuration (#1241)
  charts/synthetics-private-location/CHANGELOG.md
  charts/synthetics-private-location/Chart.yaml
  charts/synthetics-private-location/README.md
  charts/synthetics-private-location/templates/deployment.yaml
  charts/synthetics-private-location/values.yaml
Owners: @Datadog/synthetics

Update index.yaml
  index.yaml
Owners: @DataDog/container-helm-chart-maintainers

Set default agent version to 7.49.1
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
Owners: @DataDog/container-helm-chart-maintainers

Set default agent and cluster agent version to `7.49.1` (#1248)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
Owners: @DataDog/container-helm-chart-maintainers

Update index.yaml
  index.yaml
Owners: @DataDog/container-helm-chart-maintainers

Enable Single Step Instrumentation (#1245)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/README.md.gotmpl
  charts/datadog/ci/apm-single-step-instrumentation-admission-controller-values.yaml
  charts/datadog/templates/NOTES.txt
  charts/datadog/templates/cluster-agent-deployment.yaml
  charts/datadog/values.yaml
Owners: @DataDog/container-helm-chart-maintainers

Update index.yaml
  index.yaml
Owners: @DataDog/container-helm-chart-maintainers

Add command and args options for Agent and ClusterAgent containers
  charts/datadog/CHANGELOG.md
  charts/datadog/README.md
  charts/datadog/templates/_container-agent.yaml
  charts/datadog/templates/_container-process-agent.yaml
  charts/datadog/templates/_container-security-agent.yaml
  charts/datadog/templates/_container-system-probe.yaml
  charts/datadog/templates/_container-trace-agent.yaml
  charts/datadog/templates/cluster-agent-deployment.yaml
  charts/datadog/values.yaml
Owners: @DataDog/container-helm-chart-maintainers

Disable APM Instrumentation on Datadog namespace
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_helpers.tpl
  charts/datadog/templates/cluster-agent-deployment.yaml
Owners: @DataDog/container-helm-chart-maintainers

Update FIPS Proxy version to 1.0.0 (#1240)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
Owners: @DataDog/container-helm-chart-maintainers

Update index.yaml
  index.yaml
Owners: @DataDog/container-helm-chart-maintainers

Add empty line to .helpers
  charts/datadog/templates/_helpers.tpl
Owners: @DataDog/container-helm-chart-maintainers

Normalize disabledNamespaces to list
  charts/datadog/templates/_helpers.tpl
Owners: @DataDog/container-helm-chart-maintainers

Fix chart checks
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/NOTES.txt
Owners: @DataDog/container-helm-chart-maintainers

Fix chart checks (#1253)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/NOTES.txt
Owners: @DataDog/container-helm-chart-maintainers

Update index.yaml
  index.yaml
Owners: @DataDog/container-helm-chart-maintainers

Use boolean comparison directly
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/NOTES.txt
Owners: @DataDog/container-helm-chart-maintainers

Use boolean comparison directly (#1254)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/NOTES.txt
Owners: @DataDog/container-helm-chart-maintainers

Update index.yaml
  index.yaml
Owners: @DataDog/container-helm-chart-maintainers

Remove datadog namespace from enabledNamespaces list
  charts/datadog/templates/_helpers.tpl
  charts/datadog/templates/cluster-agent-deployment.yaml
Owners: @DataDog/container-helm-chart-maintainers

Fix usage of .Release.Namespace
  charts/datadog/templates/_helpers.tpl
Owners: @DataDog/container-helm-chart-maintainers

Fix enabledNamespaces option
  charts/datadog/templates/_helpers.tpl
  charts/datadog/templates/cluster-agent-deployment.yaml
  charts/datadog/values.yaml
Owners: @DataDog/container-helm-chart-maintainers

Revert values.yaml to correct default values
  charts/datadog/values.yaml
Owners: @DataDog/container-helm-chart-maintainers

[APM Onboarding] Disable APM Instrumentation on Datadog namespace (#1252)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_helpers.tpl
  charts/datadog/templates/cluster-agent-deployment.yaml
Owners: @DataDog/container-helm-chart-maintainers

Update index.yaml
  index.yaml
Owners: @DataDog/container-helm-chart-maintainers

[observability-pipelines-worker] 1.7.0 release
  charts/observability-pipelines-worker/CHANGELOG.md
  charts/observability-pipelines-worker/Chart.yaml
  charts/observability-pipelines-worker/README.md
  charts/observability-pipelines-worker/values.yaml
Owners: @DataDog/observability-pipelines-worker

[observability-pipelines-worker] 1.7.0 release (#1256)
  charts/observability-pipelines-worker/CHANGELOG.md
  charts/observability-pipelines-worker/Chart.yaml
  charts/observability-pipelines-worker/README.md
  charts/observability-pipelines-worker/values.yaml
Owners: @DataDog/observability-pipelines-worker

Update index.yaml
  index.yaml
Owners: @DataDog/container-helm-chart-maintainers

Fix Autopilot registry until new registries are allowed
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_helpers.tpl
Owners: @DataDog/container-helm-chart-maintainers

Fix Autopilot registry until new registries are allowed (#1258)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_helpers.tpl
Owners: @DataDog/container-helm-chart-maintainers

Update index.yaml
  index.yaml
Owners: @DataDog/container-helm-chart-maintainers

.github/CODEOWNERS:

# Code owners for charts

*  @DataDog/container-helm-chart-maintainers

# Documentation
*.md             @DataDog/documentation @DataDog/container-helm-chart-maintainers

# Charts
charts/datadog-crds                                  @DataDog/container-ecosystems
charts/datadog-operator                              @DataDog/container-ecosystems
charts/extended-daemon-set                           @DataDog/container-ecosystems
charts/datadog                                       @DataDog/container-helm-chart-maintainers
charts/datadog/templates/container-system-probe.yaml @DataDog/ebpf-platform @DataDog/container-helm-chart-maintainers
charts/datadog/templates/system-probe-configmap.yaml @DataDog/ebpf-platform @DataDog/container-helm-chart-maintainers
charts/datadog/templates/system-probe-init.yaml      @DataDog/ebpf-platform @DataDog/container-helm-chart-maintainers
charts/synthetics-private-location/                  @Datadog/synthetics
charts/observability-pipelines-worker                @DataDog/observability-pipelines-worker
