Repository DataDog/helm-charts, pull requests merged in 2020-11, with the labels that each got.

#76 Propagate agents volume mounts to all agent containers
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/container-process-agent.yaml
  charts/datadog/templates/container-security-agent.yaml
  charts/datadog/templates/container-system-probe.yaml
  charts/datadog/templates/container-trace-agent.yaml
  charts/datadog/values.yaml
Labels: chart-datadog

#73 Enforcing clustername maximum helm limit
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/ci/cluster-agent-values.yaml
  charts/datadog/templates/_helpers.tpl
  charts/datadog/templates/cluster-agent-deployment.yaml
  charts/datadog/templates/containers-common-env.yaml
  charts/datadog/values.yaml
Labels: chart-datadog

#71 Allow the system-probe to be run without network performance monitoring being enabled
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_helpers.tpl
  charts/datadog/templates/container-process-agent.yaml
  charts/datadog/templates/containers-init-linux.yaml
  charts/datadog/templates/daemonset-volumes-linux.yaml
  charts/datadog/templates/daemonset.yaml
  charts/datadog/templates/system-probe-configmap.yaml
  charts/datadog/values.yaml
Labels: chart-datadog

#87 Fix should-enable-system-probe helper function to support helm2
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_helpers.tpl
Labels: bug, chart-datadog

#86 fix: Event collection link in values.yml
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
Labels: bug, chart-datadog, documentation

#91 [datadog] Switch to gcr.io
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/values.yaml
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
Labels: chart-datadog

#78 Add datadog-crds chart
  charts/datadog-crds/.helmignore
  charts/datadog-crds/CHANGELOG.md
  charts/datadog-crds/Chart.yaml
  charts/datadog-crds/README.md
  charts/datadog-crds/README.md.gotmpl
  charts/datadog-crds/ci/kubeval.yaml
  charts/datadog-crds/templates/NOTES.txt
  charts/datadog-crds/templates/_helpers.tpl
  charts/datadog-crds/templates/datadoghq.com_datadogagents_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogagents_v1beta1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogmetrics_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogmetrics_v1beta1.yaml
  charts/datadog-crds/update-crds.sh
  charts/datadog-crds/values.yaml
  crds/datadoghq.com_datadogagents.yaml
  crds/datadoghq.com_datadogmetrics.yaml
Labels: chart-datadog-crds

#92 [synthetics-private-location] Use gcr.io instead of Dockerhub
  .github/CODEOWNERS
  charts/synthetics-private-location/CHANGELOG.md
  charts/synthetics-private-location/Chart.yaml
  charts/synthetics-private-location/README.md
  charts/synthetics-private-location/values.yaml
Labels: chart-synthetics-private-location

#96 Add 'datadog-crds' chart as 'datadog' dependency
  .github/ct.yaml
  .github/workflows/ci.yaml
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/requirements.lock
  charts/datadog/requirements.yaml
  charts/datadog/values.yaml
Labels: chart-datadog

#99 Add CiliumNetworkPolicy
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/NOTES.txt
  charts/datadog/templates/agent-cilium-network-policy.yaml
  charts/datadog/templates/agent-clusterchecks-cilium-network-policy.yaml
  charts/datadog/templates/agent-clusterchecks-network-policy.yaml
  charts/datadog/templates/agent-network-policy.yaml
  charts/datadog/templates/cluster-agent-cilium-network-policy.yaml
  charts/datadog/templates/cluster-agent-network-policy.yaml
  charts/datadog/templates/kube-state-metrics-cilium-network-policy.yaml
  charts/datadog/templates/kube-state-metrics-network-policy.yaml
  charts/datadog/values.yaml
Labels: chart-datadog

#106 fix(doc): typo in upgrade guide
  charts/datadog/docs/Migration_1.x_to_2.x.md
Labels: chart-datadog, documentation

#107 Fix process-agent, trace-agent communication with DCA for tagging purpose.
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/agent-clusterchecks-deployment.yaml
  charts/datadog/templates/container-agent.yaml
  charts/datadog/templates/container-process-agent.yaml
  charts/datadog/templates/container-security-agent.yaml
  charts/datadog/templates/container-trace-agent.yaml
  charts/datadog/templates/containers-common-env.yaml
Labels: bug, chart-datadog
