Repository DataDog/helm-charts, pull requests merged in 2021-08, with the labels that each got.

#334 [datadog-crds] Fix script to download correct EDS CRDs
  charts/datadog-crds/CHANGELOG.md
  charts/datadog-crds/Chart.yaml
  charts/datadog-crds/README.md
  charts/datadog-crds/templates/datadoghq.com_extendeddaemonsetreplicasets_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_extendeddaemonsetreplicasets_v1beta1.yaml
  charts/datadog-crds/templates/datadoghq.com_extendeddaemonsets_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_extendeddaemonsets_v1beta1.yaml
  charts/datadog-crds/templates/datadoghq.com_extendeddaemonsetsettings_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_extendeddaemonsetsettings_v1beta1.yaml
  charts/datadog-crds/update-crds.sh
  charts/datadog-crds/values.yaml
  crds/datadoghq.com_extendeddaemonsetreplicasets.yaml
  crds/datadoghq.com_extendeddaemonsets.yaml
  crds/datadoghq.com_extendeddaemonsetsettings.yaml
Labels: chart-datadog-crds

#335 Add Extended DaemonSet (EDS) chart
  charts/extended-daemon-set/.helmignore
  charts/extended-daemon-set/CHANGELOG.md
  charts/extended-daemon-set/Chart.yaml
  charts/extended-daemon-set/README.md
  charts/extended-daemon-set/README.md.gotmpl
  charts/extended-daemon-set/ci/kubeval.yaml
  charts/extended-daemon-set/requirements.lock
  charts/extended-daemon-set/requirements.yaml
  charts/extended-daemon-set/templates/NOTES.txt
  charts/extended-daemon-set/templates/_helpers.tpl
  charts/extended-daemon-set/templates/clusterrole.yaml
  charts/extended-daemon-set/templates/clusterrole_binding.yaml
  charts/extended-daemon-set/templates/deployment.yaml
  charts/extended-daemon-set/templates/role.yaml
  charts/extended-daemon-set/templates/role_binding.yaml
  charts/extended-daemon-set/templates/serviceaccount.yaml
  charts/extended-daemon-set/values.yaml
Labels: chart-extended-daemon-set

#341 [datadog] bump agent and cluster-agent version
  .github/ct.yaml
  .github/kubeval.sh
  .github/workflows/ci.yaml
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
Labels: enhancement, chart-datadog

#351 Add `{agents,clusterChecksRunner}.image.tagSuffix` to request JMX agent image
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_helpers.tpl
  charts/datadog/values.yaml
Labels: chart-datadog
