Repository DataDog/helm-charts, pull requests merged in 2021-09, with the labels that each got.

#243 Enabled APM with socket communication by default
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/README.md.gotmpl
  charts/datadog/docs/Migration_1.x_to_2.x.md
  charts/datadog/templates/NOTES.txt
  charts/datadog/templates/_container-trace-agent.yaml
  charts/datadog/templates/_daemonset-volumes-linux.yaml
  charts/datadog/templates/_helpers.tpl
  charts/datadog/templates/agent-cilium-network-policy.yaml
  charts/datadog/templates/agent-network-policy.yaml
  charts/datadog/templates/agent-psp.yaml
  charts/datadog/templates/agent-scc.yaml
  charts/datadog/templates/agent-services.yaml
  charts/datadog/templates/daemonset.yaml
  charts/datadog/values.yaml
Labels: enhancement, chart-datadog

#363 [datadog] Fix Dogstatsd UDS hostVolume configuration
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_helpers.tpl
Labels: bug, chart-datadog

#353 Update descriptions for securityAgent configuration
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
Labels: chart-datadog

#371 [datadog] update default image tags
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
Labels: enhancement, not-merge, chart-datadog

#397 [datadog] Add a default required anti-affinity for the cluster agent
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/cluster-agent-deployment.yaml
  charts/datadog/values.yaml
Labels: chart-datadog

#399 [datadog-operator] watch all namespaces by default
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/README.md.gotmpl
  charts/datadog-operator/templates/deployment.yaml
  charts/datadog-operator/values.yaml
Labels: enhancement, chart-datadog-operator

#400 [datadog] Make Windows runtime socket configurable
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_helpers.tpl
Labels: chart-datadog

#401 [datadog] Update Agent to 7.31.1 and DCA to 1.15.1
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
Labels: enhancement, chart-datadog
