Repository DataDog/helm-charts, pull requests merged in 2021-03, with the labels that each got.

#179 [datadog] Add missing NET_RAW Cap for CVE-2020-14386 mitigation
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
Labels: chart-datadog

#141 Allow cluster-agent to override metrics provider endpoint
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/cluster-agent-deployment.yaml
  charts/datadog/values.yaml
Labels: chart-datadog

#181 [datadog] update agent tag to 7.26.0 and dca to 1.11.0
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_containers-common-env.yaml
  charts/datadog/values.yaml
Labels: chart-datadog

#161 [datadog] Support prometheus autodiscovery
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_container-agent.yaml
  charts/datadog/templates/cluster-agent-deployment.yaml
  charts/datadog/values.yaml
Labels: chart-datadog, enhancement

#127 [datadog-operator] Add SB args
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/deployment.yaml
  charts/datadog-operator/values.yaml
Labels: chart-datadog-operator, enhancement

#184 Only deploy PodDisruptionBudget when replicaCount > 1
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/pod_disruption_budget.yaml
Labels: chart-datadog-operator

#192 [datadog] GKE Autopilot config updates
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/NOTES.txt
  charts/datadog/templates/_containers-common-env.yaml
  charts/datadog/templates/_helpers.tpl
  charts/datadog/templates/agent-clusterchecks-deployment.yaml
  charts/datadog/templates/cluster-agent-deployment.yaml
  charts/datadog/templates/daemonset.yaml
Labels: chart-datadog, enhancement
