Repository DataDog/helm-charts, pull requests merged in 2021-02, with the labels that each got.

#172 [datadog] Support Service Topology for apm and dsd
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/NOTES.txt
  charts/datadog/templates/agent-services.yaml
  charts/datadog/values.yaml
Labels: chart-datadog, enhancement

#175 [datadog] ✨ New! ✨ Support running Datadog Agent on GKE Autopilot ✨
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/NOTES.txt
  charts/datadog/templates/_containers-common-env.yaml
  charts/datadog/templates/_daemonset-volumes-linux.yaml
  charts/datadog/templates/_helpers.tpl
  charts/datadog/templates/agent-psp.yaml
  charts/datadog/templates/cluster-agent-deployment.yaml
  charts/datadog/templates/cluster-agent-rbac.yaml
  charts/datadog/templates/daemonset.yaml
  charts/datadog/values.yaml
Labels: enhancement

#177 [datadog] Remove uses of systemProbe.enabled
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/docs/Migration_1.x_to_2.x.md
  charts/datadog/templates/NOTES.txt
Labels: chart-datadog, enhancement

#178 Update operator chart for v0.5.0
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.lock
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/requirements.yaml
  charts/datadog-operator/templates/clusterrole.yaml
  charts/datadog-operator/values.yaml
Labels: chart-datadog-operator, enhancement

#167 Fix typos
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/agent-psp.yaml
  charts/datadog/templates/agent-scc.yaml
  charts/datadog/values.yaml
Labels: bug, chart-datadog
