Repository DataDog/helm-charts, pull requests merged in 2021-05, with the labels that each got.

#234 [datadog-crds] Update CRDs from operator v0.6.0 tag
  charts/datadog-crds/CHANGELOG.md
  charts/datadog-crds/Chart.yaml
  charts/datadog-crds/README.md
  charts/datadog-crds/ci/kubeval.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogagents_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogagents_v1beta1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogmetrics_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogmetrics_v1beta1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogmonitors_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogmonitors_v1beta1.yaml
  charts/datadog-crds/update-crds.sh
  charts/datadog-crds/values.yaml
  crds/datadoghq.com_datadogagents.yaml
  crds/datadoghq.com_datadogmetrics.yaml
  crds/datadoghq.com_datadogmonitors.yaml
Labels: chart-datadog-crds, enhancement

#231 [datadog-operator] Support operator v0.6 and DatadogMonitor
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.lock
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/NOTES.txt
  charts/datadog-operator/templates/clusterrole.yaml
  charts/datadog-operator/templates/deployment.yaml
  charts/datadog-operator/values.yaml
Labels: chart-datadog-operator

#235 Improve support for environment autodiscovery by removing explicit setting of DOCKER_HOST by default with Agent 7.27+
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_containers-common-env.yaml
  charts/datadog/templates/_helpers.tpl
  examples/datadog/agent_with_containerd_values.yaml
Labels: chart-datadog

#219 [datadog] DCA 1.12 + Support KSM core basic config
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/NOTES.txt
  charts/datadog/templates/_container-agent.yaml
  charts/datadog/templates/_helpers.tpl
  charts/datadog/templates/cluster-agent-confd-configmap.yaml
  charts/datadog/templates/cluster-agent-deployment.yaml
  charts/datadog/templates/cluster-agent-rbac.yaml
  charts/datadog/values.yaml
Labels: chart-datadog

#236 [datadog] KSM Core documentation
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
Labels: chart-datadog

#209 [DCA] Use Role instead of ClusterRole for secrets RBAC
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/cluster-agent-rbac.yaml
Labels: chart-datadog, enhancement

#238 Added `datadog.ignoreAutoConfig` config option
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_container-agent.yaml
  charts/datadog/values.yaml
Labels: chart-datadog

#247 [datadog] Fix kubelet connection on GKE Autopilot env
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_containers-common-env.yaml
Labels: bug, chart-datadog

#254 [datadog] Fix Readme generation
  charts/datadog/README.md.gotmpl
Labels: bug, chart-datadog

#256 [datadog] fix install when gke.autopilot:true
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/ci/gke-autopilot-values.yaml
  charts/datadog/templates/_containers-common-env.yaml
Labels: bug, chart-datadog

#252 [datadog-crds] Fix typo in datadogmetrics
  charts/datadog-crds/CHANGELOG.md
  charts/datadog-crds/Chart.yaml
  charts/datadog-crds/README.md
  crds/datadoghq.com_datadogmetrics.yaml
Labels: bug, chart-datadog-crds

#257 Bump agent version to `7.28.0`
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
Labels: chart-datadog

#268 Update private location image version
  charts/synthetics-private-location/CHANGELOG.md
  charts/synthetics-private-location/Chart.yaml
  charts/synthetics-private-location/README.md
  charts/synthetics-private-location/values.yaml
Labels: chart-synthetics-private-location
