Repository DataDog/helm-charts, pull requests merged in 2021-12, with the labels that each got.

#395 [datadog] Expose the `labels_as_tags` parameter of the KSM core check
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/cluster-agent-confd-configmap.yaml
  charts/datadog/values.yaml
Labels: enhancement, chart/datadog

#457 Add missing toFQDNs for agent-http-intake to CilumNetworkPolicy
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/agent-cilium-network-policy.yaml
Labels: bug, chart/datadog

#459 Fix unsupported config in windows envs
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_container-security-agent.yaml
  charts/datadog/templates/_daemonset-volumes-windows.yaml
  charts/datadog/templates/_helpers.tpl
Labels: bug, chart/datadog

#462 fix: running ksm core as cluster check
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/agent-clusterchecks-deployment.yaml
  charts/datadog/templates/agent-clusterchecks-rbac.yaml
  charts/datadog/templates/cluster-agent-confd-configmap.yaml
  charts/datadog/templates/kube-state-metrics-core-rbac.yaml
Labels: bug, chart/datadog

#322 Add configuration for runtime compilation with kernel header downloading in the system-probe
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_container-system-probe.yaml
  charts/datadog/templates/_daemonset-volumes-linux.yaml
  charts/datadog/templates/_helpers.tpl
  charts/datadog/templates/system-probe-configmap.yaml
  charts/datadog/values.yaml
Labels: enhancement, chart/datadog

#483 [system-probe] add SYS_CHOWN to the system-probe container
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
Labels: bug

#463 Adding priorityClass for the DD daemonset in Autopilot environments
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/agent-priorityclass.yaml
  charts/datadog/templates/daemonset.yaml
  charts/datadog/values.yaml
Labels: enhancement, chart/datadog

#486 [datadog] Fix CAP_CHOWN configuration for system-probe
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
Labels: bug, chart/datadog

#481 [datadog] fix clusterAgent.confd and advancedConfd conflict
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/ci/cluster-agent-advanced-confd-values.yaml
  charts/datadog/templates/_helpers.tpl
  charts/datadog/templates/_kubernetes_state_core_config.yaml
  charts/datadog/templates/cluster-agent-advanced-confd-configmap.yaml
  charts/datadog/templates/cluster-agent-confd-configmap.yaml
  charts/datadog/templates/cluster-agent-deployment.yaml
  charts/datadog/values.yaml
Labels: chart/datadog

#487 [agent] add CHOWN in PodSecurityPolicy capabilities
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
Labels: bug, chart/datadog

#490 feat: add secretBackend values
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_containers-common-env.yaml
  charts/datadog/templates/_helpers.tpl
  charts/datadog/templates/agent-clusterchecks-deployment.yaml
  charts/datadog/templates/cluster-agent-deployment.yaml
  charts/datadog/templates/cluster-agent-rbac.yaml
  charts/datadog/templates/rbac.yaml
  charts/datadog/values.yaml
Labels: chart/datadog

#488 fix(datadog): environments variables quoted correctly
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/ci/cluster-agent-values.yaml
  charts/datadog/templates/_container-agent.yaml
  charts/datadog/templates/_container-process-agent.yaml
  charts/datadog/templates/_container-security-agent.yaml
  charts/datadog/templates/_container-system-probe.yaml
  charts/datadog/templates/_container-trace-agent.yaml
  charts/datadog/templates/_containers-common-env.yaml
  charts/datadog/templates/_helpers.tpl
  charts/datadog/templates/agent-clusterchecks-deployment.yaml
  charts/datadog/templates/cluster-agent-deployment.yaml
Labels: enhancement, chart/datadog

#500 fix(datadog): fix DCA SCC creation on openshift 3
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/cluster-agent-scc.yaml
Labels: bug, chart/datadog

#501 Update example mysql confs
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
Labels: enhancement, chart/datadog

#466 Remove deprecation warning caused by datadog.apm.enabled parameter
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  examples/datadog/agent_basic_values.yaml
  examples/datadog/agent_on_aks_values.yaml
  examples/datadog/agent_on_aks_values_windows.yaml
  examples/datadog/agent_on_openshift_values.yaml
  examples/datadog/agent_on_rancher_values.yaml
Labels: chart/datadog
