Repository DataDog/helm-charts, pull requests merged in 2021-01, with the labels that each got.

#137 Improve CI and add /tmp as an empty dir to prepare for VOLUME removal in Dockerfile
  .github/kubeval.sh
  .github/workflows/ci.yaml
  .gitignore
  CONTRIBUTING.md
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_container-agent.yaml
  charts/datadog/templates/_container-process-agent.yaml
  charts/datadog/templates/_container-security-agent.yaml
  charts/datadog/templates/_container-system-probe.yaml
  charts/datadog/templates/_container-trace-agent.yaml
  charts/datadog/templates/_daemonset-volumes-linux.yaml
  charts/datadog/templates/cluster-agent-rbac.yaml
  charts/datadog/values.yaml
Labels: chart-datadog

#129 Allow access to apps/daemonsets
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/cluster-agent-rbac.yaml
Labels: bug, chart-datadog

#147 [datadog-agent] Mount /etc/passwd as readonly in process agent
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_container-process-agent.yaml
Labels: enhancement

#138 Enable the orchestrator explorer by default
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/NOTES.txt
  charts/datadog/templates/_container-process-agent.yaml
  charts/datadog/templates/_helpers.tpl
  charts/datadog/templates/cluster-agent-deployment.yaml
  charts/datadog/templates/cluster-agent-rbac.yaml
  charts/datadog/values.yaml
Labels: chart-datadog, enhancement, not-merge

#154 Fix datadog.kubelet.tlsVerify when set to false
  Makefile
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_containers-common-env.yaml
Labels: chart-datadog
