Repository DataDog/helm-charts, pull requests merged in 2021-11, with the labels that each got.

#420 [datadog] Add option to use EKS EC2 hostname from host filesystem
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_container-agent.yaml
  charts/datadog/templates/_container-cloudinit-volumemounts.yaml
  charts/datadog/templates/_container-process-agent.yaml
  charts/datadog/templates/_container-security-agent.yaml
  charts/datadog/templates/_container-system-probe.yaml
  charts/datadog/templates/_container-trace-agent.yaml
  charts/datadog/templates/_containers-common-env.yaml
  charts/datadog/templates/_daemonset-volumes-linux.yaml
  charts/datadog/values.yaml
Labels: enhancement, chart-datadog

#435 feat/fix: defined expvarPort, set containerPort for agentmetrics
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/ci/cluster-agent-values.yaml
  charts/datadog/templates/_container-agent.yaml
  charts/datadog/templates/cluster-agent-deployment.yaml
  charts/datadog/values.yaml
Labels: enhancement, chart/datadog

#443 Update default agent and cluster agent versions
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
Labels: chart/datadog

#446 Add annotations to cluster-agent and agents
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/agent-clusterchecks-deployment.yaml
  charts/datadog/templates/cluster-agent-deployment.yaml
  charts/datadog/templates/daemonset.yaml
  charts/datadog/values.yaml
Labels: enhancement, chart/datadog

#437 [networks] Add support for USM
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_container-system-probe.yaml
  charts/datadog/templates/_daemonset-volumes-linux.yaml
  charts/datadog/templates/_helpers.tpl
  charts/datadog/templates/system-probe-configmap.yaml
  charts/datadog/values.yaml
Labels: enhancement, chart/datadog

#440 [datadog] Update API/APP keys secret management documentation
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/README.md.gotmpl
  charts/datadog/values.yaml
Labels: documentation, chart/datadog

#453 fix: add vpa permissions to ksm core rbacs
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/kube-state-metrics-core-rbac.yaml
Labels: chart/datadog
