Repository DataDog/helm-charts, pull requests merged in 2021-07, with the labels that each got.

#295 [datadog-operator] Add `collectOperatorMetrics ` config
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/deployment.yaml
  charts/datadog-operator/values.yaml
Labels: chart-datadog-operator

#306 [datadog] Fix missing DD_TAGS envvar in cluster-agent deployment
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/cluster-agent-deployment.yaml
  charts/datadog/values.yaml
Labels: bug, chart-datadog

#309 [datadog] move to the new kube-state-metrics chart registry
  .github/ct.yaml
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/requirements.lock
  charts/datadog/requirements.yaml
Labels: chart-datadog, enhancement

#313 [datadog] Fix volumeMount for the `trace-agent` on windows
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_container-trace-agent.yaml
Labels: bug, chart-datadog

#299 [synthetics-private-location] Use secret in stead of configMap
  charts/synthetics-private-location/CHANGELOG.md
  charts/synthetics-private-location/Chart.yaml
  charts/synthetics-private-location/README.md
  charts/synthetics-private-location/templates/NOTES.txt
  charts/synthetics-private-location/templates/deployment.yaml
  charts/synthetics-private-location/templates/secret.yaml
  charts/synthetics-private-location/values.yaml
Labels: chart-synthetics-private-location

#332 [datadog] Clarify container include/exclude with warning
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/NOTES.txt
Labels: chart-datadog
