Repository DataDog/helm-charts, pull requests merged in 2022-05, with the labels that each got.

#610 allow aditional serviceAccount annotations
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/service_account.yaml
  charts/datadog-operator/values.yaml
Labels: enhancement, chart/datadog-operator

#622 [synthetics] Update liveness and readiness probes in PL chart
  charts/synthetics-private-location/CHANGELOG.md
  charts/synthetics-private-location/Chart.yaml
  charts/synthetics-private-location/README.md
  charts/synthetics-private-location/templates/deployment.yaml
  charts/synthetics-private-location/values.yaml
Labels: chart/synthetics-private-location

#633 fix: wrong example for ksm core labelsAsTags
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
Labels: bug, chart/datadog
