Repository DataDog/helm-charts, pull requests merged in 2022-04, with the labels that each got.

#592 fix(datadog): improve securityContext on windows
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_container-agent.yaml
  charts/datadog/templates/_container-process-agent.yaml
  charts/datadog/templates/_container-system-probe.yaml
  charts/datadog/templates/_container-trace-agent.yaml
  charts/datadog/templates/_helpers.tpl
  charts/datadog/templates/daemonset.yaml
Labels: bug, chart/datadog

#606 Add option to enable verticalpodautoscalers collection for KSM Core
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_kubernetes_state_core_config.yaml
  charts/datadog/templates/kube-state-metrics-core-rbac.yaml
  charts/datadog/values.yaml
Labels: chart/datadog

#557 feat(datadog): hardcode serviceAccount&ConfigMap name on GKE Autopilot
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/ci/gke-autopilot-values.yaml
  charts/datadog/templates/NOTES.txt
  charts/datadog/templates/_container-agent.yaml
  charts/datadog/templates/_container-process-agent.yaml
  charts/datadog/templates/_container-security-agent.yaml
  charts/datadog/templates/_container-system-probe.yaml
  charts/datadog/templates/_container-trace-agent.yaml
  charts/datadog/templates/_daemonset-volumes-linux.yaml
  charts/datadog/templates/_daemonset-volumes-windows.yaml
  charts/datadog/templates/_helpers.tpl
  charts/datadog/templates/agent-clusterchecks-deployment.yaml
  charts/datadog/templates/agent-scc.yaml
  charts/datadog/templates/checksd-configmap.yaml
  charts/datadog/templates/cluster-agent-deployment.yaml
  charts/datadog/templates/confd-configmap.yaml
  charts/datadog/templates/daemonset.yaml
  charts/datadog/templates/datadog-yaml-configmap.yaml
  charts/datadog/templates/install_info-configmap.yaml
  charts/datadog/templates/rbac.yaml
Labels: enhancement, chart/datadog
