Repository DataDog/helm-charts, pull requests merged in 2022-12, with the labels that each got.

#681 Fix typo in cluster-agent suggestion
  charts/datadog/templates/NOTES.txt
Labels: documentation, chart/datadog

#852 fix: update nesting for `provider.aks.enabled`
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/cluster-agent-deployment.yaml
Labels: bug, chart/datadog

#864 feat(datadog): default agent version to 7.41.1
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
Labels: chart/datadog
