Repository DataDog/helm-charts, pull requests merged in 2022-06, with the labels that each got.

#640 [charts/datadog] Allow granular read secret roles
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_helpers.tpl
  charts/datadog/templates/rbac.yaml
  charts/datadog/values.yaml
Labels: chart/datadog

#644 feat: add admissionController.configMode
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_helpers.tpl
  charts/datadog/templates/agent-services.yaml
  charts/datadog/templates/cluster-agent-deployment.yaml
  charts/datadog/values.yaml
Labels: chart/datadog

#624 Add proxy to operator deploy
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/deployment.yaml
  charts/datadog-operator/values.yaml
Labels: enhancement, chart/datadog-operator

#579 update default values for failure policy
  .gitignore
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/NOTES.txt
  charts/datadog/templates/cluster-agent-deployment.yaml
  charts/datadog/values.yaml
Labels: chart/datadog

#643 CWS: add option to enable FIM
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/NOTES.txt
  charts/datadog/templates/_container-security-agent.yaml
  charts/datadog/templates/_container-system-probe.yaml
  charts/datadog/templates/_daemonset-volumes-linux.yaml
  charts/datadog/templates/_helpers.tpl
  charts/datadog/templates/system-probe-configmap.yaml
  charts/datadog/values.yaml
Labels: chart/datadog

#650 fix: error calling eq: incompatible types for comparison for configMode
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/cluster-agent-deployment.yaml
Labels: chart/datadog

#647 feat: enable the admission controller by default
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/ci/cluster-agent-admission-controller.yaml
  charts/datadog/values.yaml
Labels: chart/datadog

#654 feat(ksm core): prepare rbacs and config for ingress metrics
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_kubernetes_state_core_config.yaml
  charts/datadog/templates/kube-state-metrics-core-rbac.yaml
Labels: chart/datadog

#663 ci: update kubernetes versions in CI
  .github/workflows/ci.yaml
Labels: no-chart

#661 [datadog-operator] fix values.yaml file docs
  .github/workflows/ci.yaml
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/values.yaml
Labels: chart/datadog-operator

#660 chore: update helm-docs version and support M1
  .github/helm-docs.sh
Labels: enhancement, no-chart
