Repository DataDog/helm-charts, pull requests merged in 2023-06, with the labels that each got.

#1075 feat(datadog): default agent/dca to 7.45.0
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
Labels: enhancement, chart/datadog

#1093 fix(datadog): update `collectedEventTypes` field documentation
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
Labels: bug, chart/datadog

#1098 Update cluster agent network policy to allow telemetry submission
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/agent-cilium-network-policy.yaml
  charts/datadog/templates/cluster-agent-cilium-network-policy.yaml
Labels: enhancement, chart/datadog

#1027 Go integ test for Operator chart and CI
  .github/PULL_REQUEST_TEMPLATE.md
  .github/kind_config.yaml
  .github/workflows/go-test.yaml
  CONTRIBUTING.md
  Makefile
  test/common/common.go
  test/datadog-operator/baseline_test.go
  test/datadog-operator/operator_deployment_test.go
  test/go.mod
  test/go.sum
  test/integ/manifests/default.yaml
  test/integ/manifests/default_v1alpha1.yaml
  test/integ/operator_integ_test.go
Labels: editorial review, tooling
