Repository DataDog/helm-charts, pull requests merged in 2023-11, with the labels that each got.

#1219 Set default agent and cluster agent version to `7.49.0`
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
Labels: chart/datadog

#1222 [datadog] correct typos
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
Labels: documentation, chart/datadog

#1229 Skip Operator integ tests on PRs from forks
  .github/workflows/go-test.yaml
Labels: tooling

#1227 fix(datadog-operator): fix PodDisruptionBudget creation issue when setting replicaCount via --set
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/pod_disruption_budget.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog-operator/baseline/Operator_Deployment_with_certManager.yaml
Labels: bug, chart/datadog-operator

#1248 Set default agent and cluster agent version to `7.49.1`
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
Labels: chart/datadog, mergequeue-status: removed

#1254 [APM instrumentation] Use boolean comparison directly in NOTES template
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/NOTES.txt
Labels: bug, chart/datadog
