Repository DataDog/helm-charts, pull requests merged in 2023-03, with the labels that each got.

#929 Add automountServiceAccountToken option
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/agent-clusterchecks-deployment.yaml
  charts/datadog/templates/agent-clusterchecks-rbac.yaml
  charts/datadog/templates/cluster-agent-deployment.yaml
  charts/datadog/templates/cluster-agent-rbac.yaml
  charts/datadog/templates/daemonset.yaml
  charts/datadog/templates/rbac.yaml
  charts/datadog/values.yaml
Labels: enhancement, chart/datadog

#933 apm onboarding beta: support remote instrumentation
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/cluster-agent-deployment.yaml
  charts/datadog/templates/cluster-agent-rbac.yaml
  charts/datadog/values.yaml
Labels: enhancement, chart/datadog

#936 Enable remote config if `remoteInstrumentation` is enabled
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/cluster-agent-deployment.yaml
  charts/datadog/values.yaml
Labels: chart/datadog

#935 added new checksum to cluster agent deployment
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/cluster-agent-deployment.yaml
Labels: bug, chart/datadog

#938 fix(datadog): allow DCA to write logs
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/cluster-agent-deployment.yaml
Labels: bug, chart/datadog

#897 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation, no-chart

#926 Update Cilium Egress rule to kube-apiserver
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/cluster-agent-cilium-network-policy.yaml
  charts/datadog/templates/kube-state-metrics-cilium-network-policy.yaml
Labels: bug, chart/datadog

#923 add a parameter to enable remote configuration
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_container-agent.yaml
  charts/datadog/templates/system-probe-configmap.yaml
  charts/datadog/values.yaml
Labels: chart/datadog

#918 Documenting Migration to v2alpha1
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.lock
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/README.md.gotmpl
  charts/datadog-operator/templates/certificate_conversion.yaml
  charts/datadog-operator/templates/deployment.yaml
  charts/datadog-operator/templates/webhook-service.yaml
  charts/datadog-operator/values.yaml
Labels: not-merge, chart/datadog-operator

#969 feat(datadog): use registry.k8s.io for ksm image
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
Labels: chart/datadog

#981 Fix operator readme typos
  charts/datadog-operator/README.md
  charts/datadog-operator/README.md.gotmpl
  charts/datadog-operator/values.yaml
Labels: documentation
