Repository DataDog/helm-charts, pull requests merged in 2023-10, with the labels that each got.

#1153 [Orchestrator] Enable orch_explorer by default on agent
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_container-agent.yaml
Labels: enhancement, chart/datadog

#1108 Add `datadog.leaderElectionResource` to select which resource lock to use in leader election
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_container-agent.yaml
  charts/datadog/templates/_containers-init-linux.yaml
  charts/datadog/templates/cluster-agent-deployment.yaml
  charts/datadog/templates/rbac.yaml
  charts/datadog/values.yaml
Labels: chart/datadog

#1201 Default Agent and Cluster-Agent to 7.48.0 version
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
Labels: chart/datadog

#1170 Update repository.datadog.yml
  repository.datadog.yml
Labels: team:container-helm-chart-maintainers

#1146 update extended daemonset chart for EDS v0.8
  charts/extended-daemon-set/CHANGELOG.md
  charts/extended-daemon-set/Chart.yaml
  charts/extended-daemon-set/README.md
  charts/extended-daemon-set/templates/crds/datadoghq.com_extendeddaemonsetreplicasets_v1.yaml
  charts/extended-daemon-set/templates/crds/datadoghq.com_extendeddaemonsetreplicasets_v1beta1.yaml
  charts/extended-daemon-set/templates/crds/datadoghq.com_extendeddaemonsets_v1.yaml
  charts/extended-daemon-set/templates/crds/datadoghq.com_extendeddaemonsets_v1beta1.yaml
  charts/extended-daemon-set/templates/crds/datadoghq.com_extendeddaemonsetsettings_v1.yaml
  charts/extended-daemon-set/templates/crds/datadoghq.com_extendeddaemonsetsettings_v1beta1.yaml
  charts/extended-daemon-set/update-crds.sh
  charts/extended-daemon-set/values.yaml
  crds/datadoghq.com_extendeddaemonsetreplicasets.yaml
  crds/datadoghq.com_extendeddaemonsets.yaml
  crds/datadoghq.com_extendeddaemonsetsettings.yaml
Labels: chart/extended-daemon-set

#1207 default agent and cluster agent images to version 7.48.1
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
Labels: chart/datadog

#1210 Added option to disable external metrics registration as an APIService
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/agent-apiservice.yaml
  charts/datadog/templates/hpa-external-metrics-rbac.yaml
  charts/datadog/values.yaml
Labels: chart/datadog

#1116 Allow enabling SBOM collection for host and container images
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_container-agent.yaml
  charts/datadog/templates/_helpers.tpl
  charts/datadog/values.yaml
Labels: enhancement, chart/datadog
