Repository DataDog/helm-charts, pull requests merged in 2023-09, with the labels that each got.

#1157 upgrade(datadog-agent): Enable Remote Configuration by default
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_helpers.tpl
  charts/datadog/values.yaml
Labels: chart/datadog

#1166 [operator] Add rule to allow operator cluster role to curl `/metrics/slis`
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/clusterrole.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog-operator/baseline/Operator_Deployment_with_certManager.yaml
Labels: chart/datadog-operator

#1169 added repository config mirroring the repo access settings
  repository.datadog.yml
Labels: team:container-helm-chart-maintainers

#1168 Update FIPS Proxy version to 0.5.5
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
Labels: mergequeue-status: error

#1178 [datadog] Update agents to 7.47.1
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
Labels: chart/datadog
