Repository DataDog/helm-charts, pull requests merged in 2023-05, with the labels that each got.

#1013 Adding support for the FIPS sidecar container.
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_container-agent.yaml
  charts/datadog/templates/_container-fips-proxy.yaml
  charts/datadog/templates/_container-process-agent.yaml
  charts/datadog/templates/_container-security-agent.yaml
  charts/datadog/templates/_container-trace-agent.yaml
  charts/datadog/templates/_daemonset-volumes-linux.yaml
  charts/datadog/templates/_helpers.tpl
  charts/datadog/templates/agent-clusterchecks-deployment.yaml
  charts/datadog/templates/cluster-agent-deployment.yaml
  charts/datadog/templates/daemonset.yaml
  charts/datadog/values.yaml
Labels: enhancement, chart/datadog

#1025 Add `memfd_create` to seccomp for system-probe
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/system-probe-configmap.yaml
Labels: bug, chart/datadog

#1044 [datadog] default agent to 7.44.1
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
Labels: enhancement, chart/datadog

#1046 [system-probe] Add inotify related syscalls to the default seccomp profile of system-probe
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/system-probe-configmap.yaml
Labels: chart/datadog

#1036 Update values.yaml
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
Labels: documentation, chart/datadog

#1050 [helm][dca][rbac] Add `get`, `create`, `update` leases permission to dca
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/cluster-agent-rbac.yaml
Labels: chart/datadog

#1054 [Operator][RBAC] Add CRD `list` and `watch` permissions to datadog-operator
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/clusterrole.yaml
Labels: chart/datadog-operator

#1055 [RBAC][KSM] Update config to monitor `apiservices`
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_kubernetes_state_core_config.yaml
  charts/datadog/templates/cluster-agent-rbac.yaml
Labels: chart/datadog
