Repository DataDog/helm-charts, pull requests merged in 2023-08, with the labels that each got.

#1141 Update operator chart for 1.1.0 release
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.lock
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/README.md.gotmpl
  charts/datadog-operator/values.yaml
  test/datadog-operator/baseline/DatadogAgent_CRD_default.yaml
  test/datadog-operator/baseline/DatadogAgent_CRD_with_certManager.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog-operator/baseline/Operator_Deployment_with_certManager.yaml
  test/datadog-operator/operator_deployment_test.go
Labels: chart/datadog-operator

#1143 avoid creating the DD_PROVIDER_KIND env var two times
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_containers-common-env.yaml
  charts/datadog/templates/agent-clusterchecks-deployment.yaml
Labels: bug, chart/datadog

#1110 clusterAgent.admissionController.webhookName to select the name of the mutating webhook and restrict the RBAC policy
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/cluster-agent-deployment.yaml
  charts/datadog/templates/cluster-agent-rbac.yaml
  charts/datadog/values.yaml
Labels: chart/datadog

#1118 feat: open container port 8000 for admission controller
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/agent-services.yaml
  charts/datadog/templates/cluster-agent-deployment.yaml
  charts/datadog/templates/cluster-agent-network-policy.yaml
  charts/datadog/values.yaml
Labels: chart/datadog
