Repository DataDog/helm-charts, pull requests merged in 2023-07, with the labels that each got.

#1105 upgrade(datadog): Always set the Remote Configuration environment variable
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_containers-common-env.yaml
  charts/datadog/templates/cluster-agent-deployment.yaml
Labels: chart/datadog

#1102 Fix conversionWebhook.enabled parameter to set user-configured value
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/deployment.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog-operator/baseline/Operator_Deployment_with_certManager.yaml
  test/datadog-operator/operator_deployment_test.go
Labels: bug, chart/datadog-operator

#1113 release 7.46.0 final build
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
Labels: chart/datadog

#1117 [datadog] Update datadog-crds dependency to v1.0.1
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/requirements.lock
  charts/datadog/requirements.yaml
Labels: chart/datadog

#1125 [operator] fix clusterrole
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/clusterrole.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog-operator/baseline/Operator_Deployment_with_certManager.yaml
Labels: bug, chart/datadog-operator

#1135 Ignore chart version in baseline tests
  test/datadog-operator/baseline_test.go
Labels: tooling

#1136 Run Github workflow Go test only for the datadog-operator chart
  .github/workflows/go-test.yaml
Labels: tooling

#1134 include volume in daemonset-volumes-windows definition
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_daemonset-volumes-windows.yaml
Labels: chart/datadog
