Repository DataDog/helm-charts, pull requests merged in 2024-11, with the labels that each got.

#1593 [observability-pipelines-worker] 2.2.1 release
  charts/observability-pipelines-worker/CHANGELOG.md
  charts/observability-pipelines-worker/Chart.yaml
  charts/observability-pipelines-worker/README.md
  charts/observability-pipelines-worker/values.yaml
Labels: chart/observability-pipelines-worker, mergequeue-status: rejected

#1583 [Orch] Add additional permissions for operator to view CRDs
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/clusterrole.yaml
  charts/datadog-operator/values.yaml
Labels: chart/datadog-operator, mergequeue-status: in_progress

#1597 Bump runner version to v0.1.4-beta
  charts/private-action-runner/CHANGELOG.md
  charts/private-action-runner/Chart.yaml
  charts/private-action-runner/README.md
  charts/private-action-runner/README.md.gotmpl
  charts/private-action-runner/values.yaml
  test/private-action-runner/__snapshot__/default.yaml
  test/private-action-runner/__snapshot__/enable-kubernetes-actions.yaml
Labels: mergequeue-status: error, chart/private-action-runner

#1591 [PROCS-4303] Remove experimental status and update agent version needed for datadog.processAgent.runInCoreAgent
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_helpers.tpl
  charts/datadog/values.yaml
  test/datadog/process_agent_test.go
Labels: chart/datadog

#1600 [datadog] Update agents to 7.59.0
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog/baseline/agent-clusterchecks-deployment_default.yaml
  test/datadog/baseline/cluster-agent-deployment_default.yaml
  test/datadog/baseline/cluster-agent-deployment_default_advanced_AC_injection.yaml
  test/datadog/baseline/cluster-agent-deployment_default_minimal_AC_injection.yaml
  test/datadog/baseline/daemonset_default.yaml
  test/datadog/baseline/other_default.yaml
Labels: chart/datadog

#1601 [datadog-crds] Update CRDs from Datadog Operator v1.10.0 tag
  charts/datadog-crds/CHANGELOG.md
  charts/datadog-crds/Chart.yaml
  charts/datadog-crds/README.md
  charts/datadog-crds/templates/datadoghq.com_datadogagents_v1.yaml
  crds/datadoghq.com_datadogagents.yaml
Labels: chart/datadog-crds

#1602 Configure Github workflow and job level permissions
  .github/workflows/ci.yaml
  .github/workflows/go-test-private-action-runner.yaml
  .github/workflows/go-test.yaml
  .github/workflows/pr-labeler.yaml
  .github/workflows/release.yaml
Labels: chart/datadog-operator, tooling, tools/ci, chart/private-action-runner

#1603 Update operator version to 1.10.0
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.lock
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/_helpers.tpl
  charts/datadog-operator/values.yaml
  test/datadog-operator/baseline/DatadogAgent_CRD_default.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog-operator/operator_deployment_test.go
  test/datadog/baseline/agent-clusterchecks-deployment_default.yaml
  test/datadog/baseline/cluster-agent-deployment_default.yaml
  test/datadog/baseline/cluster-agent-deployment_default_advanced_AC_injection.yaml
  test/datadog/baseline/cluster-agent-deployment_default_minimal_AC_injection.yaml
  test/datadog/baseline/daemonset_default.yaml
  test/datadog/baseline/other_default.yaml
Labels: chart/datadog-operator

#1521 Add providers.gke.gdc option to datadog chart
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/ci/gke-gdc-values.yaml
  charts/datadog/templates/_components-common-env.yaml
  charts/datadog/templates/_container-agent.yaml
  charts/datadog/templates/_container-cri-volumemounts.yaml
  charts/datadog/templates/_container-host-release-volumemounts.yaml
  charts/datadog/templates/_container-trace-agent.yaml
  charts/datadog/templates/_containers-common-env.yaml
  charts/datadog/templates/_containers-init-linux.yaml
  charts/datadog/templates/_daemonset-volumes-linux.yaml
  charts/datadog/templates/_daemonset-volumes-windows.yaml
  charts/datadog/templates/_helpers.tpl
  charts/datadog/templates/_processes-common-env.yaml
  charts/datadog/templates/daemonset.yaml
  charts/datadog/values.yaml
  test/datadog/baseline/agent-clusterchecks-deployment_default.yaml
  test/datadog/baseline/cluster-agent-deployment_default.yaml
  test/datadog/baseline/cluster-agent-deployment_default_advanced_AC_injection.yaml
  test/datadog/baseline/cluster-agent-deployment_default_minimal_AC_injection.yaml
  test/datadog/baseline/daemonset_default.yaml
  test/datadog/baseline/gdc_daemonset_default.yaml
  test/datadog/baseline/gdc_daemonset_logs_collection.yaml
  test/datadog/baseline/other_default.yaml
  test/datadog/baseline_test.go
  test/datadog/gdc_test.go
Labels: chart/datadog

#1605 doc(datadog): docuement datadog.envDict usage
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/README.md.gotmpl
Labels: chart/datadog, mergequeue-status: in_progress

#1564 feat(admission controller): Add new webhook settings
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/cluster-agent-deployment.yaml
  charts/datadog/values.yaml
Labels: enhancement, chart/datadog, mergequeue-status: in_progress

#1608 [observability-pipelines-worker] 2.2.2 release
  charts/observability-pipelines-worker/CHANGELOG.md
  charts/observability-pipelines-worker/Chart.yaml
  charts/observability-pipelines-worker/README.md
  charts/observability-pipelines-worker/values.yaml
Labels: chart/observability-pipelines-worker

#1610 Upgrade helm chart with new private action runner version
  charts/private-action-runner/CHANGELOG.md
  charts/private-action-runner/Chart.yaml
  charts/private-action-runner/README.md
  charts/private-action-runner/README.md.gotmpl
  charts/private-action-runner/values.yaml
  test/private-action-runner/__snapshot__/default.yaml
  test/private-action-runner/__snapshot__/enable-kubernetes-actions.yaml
Labels: chart/private-action-runner

#1552 Add a new option `datadog.apm.useLocalService` to disable hostPorts for the trace-agent
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/ci/agent-apm-use-local-service-values.yaml
  charts/datadog/templates/NOTES.txt
  charts/datadog/templates/_helpers.tpl
  charts/datadog/templates/cluster-agent-deployment.yaml
  charts/datadog/values.yaml
Labels: enhancement, chart/datadog

#1616 Update FIPS Proxy version to 1.1.6
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
Labels: chart/datadog
