Repository DataDog/helm-charts, pull requests merged in 2024-09, with the labels that each got.

#1497 Add note for OTel collector
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/NOTES.txt
Labels: chart/datadog

#1516 Set default agent/cluster agent version `7.56.2`
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
Labels: chart/datadog, mergequeue-status: in_progress

#1511 [APPS-1924] Add ability to configure connection credentials in config.yaml
  charts/private-action-runner/.helmignore
  charts/private-action-runner/CHANGELOG.md
  charts/private-action-runner/Chart.yaml
  charts/private-action-runner/README.md
  charts/private-action-runner/README.md.gotmpl
  charts/private-action-runner/examples/config.yaml
  charts/private-action-runner/templates/_helpers.tpl
  charts/private-action-runner/templates/secrets.yaml
  charts/private-action-runner/values.yaml
Labels: chart/private-action-runner

#1471 PROF-10073: Add support for datadog.profiling
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/cluster-agent-deployment.yaml
  charts/datadog/values.yaml
Labels: chart/datadog, mergequeue-status: in_progress

#1522 Update FIPS Proxy version to 1.1.5
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
Labels: chart/datadog, mergequeue-status: in_progress

#1525 PL: release 1.51.0
  charts/synthetics-private-location/CHANGELOG.md
  charts/synthetics-private-location/Chart.yaml
  charts/synthetics-private-location/README.md
  charts/synthetics-private-location/values.yaml
Labels: chart/synthetics-private-location

#1523 Bump private action runner to v0.0.1-alpha31
  charts/private-action-runner/CHANGELOG.md
  charts/private-action-runner/Chart.yaml
  charts/private-action-runner/README.md
  charts/private-action-runner/values.yaml
Labels: chart/private-action-runner

#1531 [Private Actions] Allow for arbitrary secret files to be specified in `values.yaml`
  charts/private-action-runner/CHANGELOG.md
  charts/private-action-runner/Chart.yaml
  charts/private-action-runner/README.md
  charts/private-action-runner/README.md.gotmpl
  charts/private-action-runner/examples/values.yaml
  charts/private-action-runner/templates/_helpers.tpl
  charts/private-action-runner/templates/secrets.yaml
  charts/private-action-runner/values.yaml
Labels: chart/private-action-runner

#1533 Bump PAR version to v0.1.1-beta
  charts/private-action-runner/CHANGELOG.md
  charts/private-action-runner/Chart.yaml
  charts/private-action-runner/README.md
  charts/private-action-runner/README.md.gotmpl
  charts/private-action-runner/values.yaml
Labels: chart/private-action-runner

#1529 Improve private actions runner helm chart for kubernetes actions
  charts/private-action-runner/CHANGELOG.md
  charts/private-action-runner/Chart.yaml
  charts/private-action-runner/README.md
  charts/private-action-runner/README.md.gotmpl
  charts/private-action-runner/examples/values.yaml
  charts/private-action-runner/templates/_helpers.tpl
  charts/private-action-runner/templates/deployment.yaml
  charts/private-action-runner/templates/role.yaml
  charts/private-action-runner/templates/secrets.yaml
  charts/private-action-runner/values.yaml
Labels: tools/ci, chart/private-action-runner

#1534 [CONTP-375] Expose k8s resource labels as tags to configure tagger
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_components-common-env.yaml
  charts/datadog/values.yaml
Labels: chart/datadog

#1535 [datadog/datadog] Update Agent/cluster Agent to `7.57.2`
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
Labels: chart/datadog, mergequeue-status: in_progress

#1517 [CONTINT-4406] add helm option to filter kubernetes events
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/ci/cluster-agent-values.yaml
  charts/datadog/templates/_kubernetes_apiserver_config.yaml
  charts/datadog/templates/cluster-agent-deployment.yaml
  charts/datadog/values.yaml
Labels: chart/datadog, mergequeue-status: in_progress

#1538 fix tests
  .github/workflows/ci.yaml
  test/datadog/baseline/agent-clusterchecks-deployment_default.yaml
  test/datadog/baseline/cluster-agent-deployment_default.yaml
  test/datadog/baseline/cluster-agent-deployment_default_advanced_AC_injection.yaml
  test/datadog/baseline/cluster-agent-deployment_default_minimal_AC_injection.yaml
  test/datadog/baseline/daemonset_default.yaml
  test/datadog/baseline/other_default.yaml
  test/datadog/process_agent_test.go
Labels: tools/tests

#1539 [ci] rm paths-ignore from lint and test charts
  .github/workflows/ci.yaml
Labels: tools/ci

#1532 Tests for private action runner helm chart
  .github/CODEOWNERS
  .github/workflows/go-test-private-action-runner.yaml
  .github/workflows/go-test.yaml
  Makefile
  test/.gitignore
  test/go.mod
  test/go.sum
  test/private-action-runner/__snapshot__/default.yaml
  test/private-action-runner/__snapshot__/enable-kubernetes-actions.yaml
  test/private-action-runner/baseline_test.go
  test/private-action-runner/testmain_test.go
Labels: tools/ci

#1526 add livenessProbe to values.yaml
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/_helpers.tpl
  charts/datadog-operator/templates/deployment.yaml
  charts/datadog-operator/values.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog-operator/operator_deployment_test.go
Labels: enhancement, chart/datadog-operator

#1542 [s8s] Release Private Location 1.52
  charts/synthetics-private-location/CHANGELOG.md
  charts/synthetics-private-location/Chart.yaml
  charts/synthetics-private-location/README.md
  charts/synthetics-private-location/values.yaml
Labels: chart/synthetics-private-location
