Repository DataDog/helm-charts, pull requests merged in 2024-05, with the labels that each got.

#1389 [ASM] support enabling ASM features cluster-wide
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/cluster-agent-deployment.yaml
  charts/datadog/values.yaml
Labels: chart/datadog

#1386 [datadog-operator] Fix clusterrole for dap
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/clusterrole.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog-operator/baseline/Operator_Deployment_with_certManager.yaml
Labels: chart/datadog-operator

#1397 Update FIPS Proxy version to 1.1.2
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
Labels: chart/datadog

#1391 Set kubelet core check option to be enabled by default
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
Labels: chart/datadog

#1392 feat(origin-detection): add unified setting
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_container-agent.yaml
  charts/datadog/values.yaml
Labels: chart/datadog, mergequeue-status: removed

#1394 [CWS] add new config option to control the CWS events track
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/system-probe-configmap.yaml
  charts/datadog/values.yaml
Labels: chart/datadog

#1398 Update CRDs for operator v1.6.0
  charts/datadog-crds/CHANGELOG.md
  charts/datadog-crds/Chart.yaml
  charts/datadog-crds/README.md
  charts/datadog-crds/templates/datadoghq.com_datadogagentprofiles_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogagentprofiles_v1beta1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogmonitors_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogmonitors_v1beta1.yaml
  crds/datadoghq.com_datadogagentprofiles.yaml
  crds/datadoghq.com_datadogmonitors.yaml
Labels: enhancement, chart/datadog-crds

#1399 Update operator chart for 1.6.0
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.lock
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/README.md.gotmpl
  charts/datadog-operator/values.yaml
  test/datadog-operator/baseline/DatadogAgent_CRD_default.yaml
  test/datadog-operator/baseline/DatadogAgent_CRD_with_certManager.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog-operator/baseline/Operator_Deployment_with_certManager.yaml
  test/datadog-operator/operator_deployment_test.go
  test/datadog/baseline/agent-clusterchecks-deployment_default.yaml
  test/datadog/baseline/cluster-agent-deployment_default.yaml
  test/datadog/baseline/cluster-agent-deployment_default_advanced_AC_injection.yaml
  test/datadog/baseline/cluster-agent-deployment_default_minimal_AC_injection.yaml
  test/datadog/baseline/daemonset_default.yaml
  test/datadog/baseline/other_default.yaml
  test/datadog/dca_AC_sidecar_test.go
Labels: chart/datadog-operator

#1400 [CWS] default option to switch CWS events to the new track to true
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
Labels: chart/datadog

#1402 [observability-pipelines-worker] 2.0.1 release
  charts/observability-pipelines-worker/CHANGELOG.md
  charts/observability-pipelines-worker/Chart.yaml
  charts/observability-pipelines-worker/README.md
  charts/observability-pipelines-worker/values.yaml
Labels: chart/observability-pipelines-worker

#1404 [CWS] make sure the security agent is aware of `datadog.securityAgent.runtime.useSecruntimeTrack`.
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_container-security-agent.yaml
Labels: chart/datadog

#1406 [Synthetics] Private Location 1.48.0
  charts/synthetics-private-location/CHANGELOG.md
  charts/synthetics-private-location/Chart.yaml
  charts/synthetics-private-location/README.md
  charts/synthetics-private-location/values.yaml
Labels: chart/synthetics-private-location

#1408 Add CODEOWNER for process agent template
  .github/CODEOWNERS
Labels: tools/ci

#1410 do not enable live process collection by default when language detection is enabled
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_container-process-agent.yaml
Labels: chart/datadog
