Repository DataDog/helm-charts, pull requests merged in 2024-02, with the labels that each got.

#1309 Exclude agent pod from admission controller library injection
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/daemonset.yaml
Labels: chart/datadog

#1316 add(tooling): Add disktype label on kind nodes
  .github/kind_config.yaml
Labels: enhancement, tooling

#1317 fix(tooling): add config file path in helm/kind-action
  .github/kind_config.yaml
  .github/workflows/ci.yaml
Labels: bug, chart/datadog

#1320 Enable datadog chart EKS E2E tests in CI
  .gitlab-ci.yml
  Makefile
  test/common/common_e2e.go
  test/e2e/datadog/e2e_eks_test.go
  test/e2e/datadog/testdatadog_test.go
  test/go.mod
  test/go.sum
Labels: chart/datadog, tooling

#1326 Add labeler action to ease reviews dispatching
  .github/workflows/labeler/labels.yaml
  .github/workflows/pr-labeler.yaml
Labels: tools/ci

#1330 Disable mutations on Datadog resources pods
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/agent-clusterchecks-deployment.yaml
  charts/datadog/templates/cluster-agent-deployment.yaml
  charts/datadog/templates/daemonset.yaml
Labels: chart/datadog, mergequeue-status: rejected

#1333 [datadog-operator] add flag for introspection
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/deployment.yaml
  charts/datadog-operator/values.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog-operator/baseline/Operator_Deployment_with_certManager.yaml
Labels: chart/datadog-operator

#1332 Add DatadogAgent v1alpha1 deprecation warning
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/templates/NOTES.txt
Labels: chart/datadog-operator
