Repository DataDog/helm-charts, pull requests merged in 2024-04, with the labels that each got.

#1338 add language detection apm config
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_components-common-env.yaml
  charts/datadog/templates/_container-process-agent.yaml
  charts/datadog/templates/_helpers.tpl
  charts/datadog/templates/cluster-agent-deployment.yaml
  charts/datadog/templates/cluster-agent-rbac.yaml
  charts/datadog/values.yaml
Labels: chart/datadog, chart/datadog-crds, chart/synthetics-private-location

#1361 Fix envFrom indentation in synthetics-private-location
  charts/synthetics-private-location/CHANGELOG.md
  charts/synthetics-private-location/Chart.yaml
  charts/synthetics-private-location/README.md
  charts/synthetics-private-location/templates/deployment.yaml
Labels: chart/synthetics-private-location

#1366 [datadog] Update agents to 7.52.1
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
  test/datadog/baseline/agent-clusterchecks-deployment_default.yaml
  test/datadog/baseline/cluster-agent-deployment_default.yaml
  test/datadog/baseline/cluster-agent-deployment_default_advanced_AC_injection.yaml
  test/datadog/baseline/cluster-agent-deployment_default_minimal_AC_injection.yaml
  test/datadog/baseline/daemonset_default.yaml
  test/datadog/baseline/other_default.yaml
  test/datadog/dca_AC_sidecar_test.go
Labels: chart/datadog

#1328 [APM Telemetry] Allow skipping creating Configmap with parameters needed for APM KPIs
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/kpi-telemetry-configmap.yaml
  charts/datadog/values.yaml
Labels: chart/datadog

#1372 [Synthetics] Private Location 1.47.0
  charts/synthetics-private-location/CHANGELOG.md
  charts/synthetics-private-location/Chart.yaml
  charts/synthetics-private-location/README.md
  charts/synthetics-private-location/values.yaml
Labels: chart/synthetics-private-location

#1378 [release] Add `CR_SKIP_EXISTING` flag to release job
  .github/workflows/release.yaml
Labels: tools/ci

#1379 [doc] Update Private Location documentation link
  charts/synthetics-private-location/README.md
  charts/synthetics-private-location/README.md.gotmpl
Labels: chart/synthetics-private-location

#1329 [PRODUCTSA-1093] Update OPW chart for v2 release
  charts/observability-pipelines-worker/CHANGELOG.md
  charts/observability-pipelines-worker/Chart.yaml
  charts/observability-pipelines-worker/README.md
  charts/observability-pipelines-worker/ci/all-values.yaml
  charts/observability-pipelines-worker/ci/api-values.yaml
  charts/observability-pipelines-worker/ci/dupe-ports-values.yaml
  charts/observability-pipelines-worker/ci/extraContainers-and-extraVolumeMounts-values.yaml
  charts/observability-pipelines-worker/ci/ingress-values.yaml
  charts/observability-pipelines-worker/ci/initContainers-values.yaml
  charts/observability-pipelines-worker/ci/kubeconform-values.yaml
  charts/observability-pipelines-worker/ci/manual-port-values.yaml
  charts/observability-pipelines-worker/ci/remote-config.yaml
  charts/observability-pipelines-worker/ci/serviceHeadless-disabled.yaml
  charts/observability-pipelines-worker/ci/templated-config-values.yaml
  charts/observability-pipelines-worker/templates/_pod.tpl
  charts/observability-pipelines-worker/templates/configmap.yaml
  charts/observability-pipelines-worker/templates/statefulset.yaml
  charts/observability-pipelines-worker/values.yaml
Labels: chart/observability-pipelines-worker

#1377 [doc] Update charts listed in README
  README.md
Labels: documentation

#1319 Add config variable to toggle using kubelet core check
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/ci/kubeconform-values.yaml
  charts/datadog/templates/_container-agent.yaml
  charts/datadog/values.yaml
Labels: chart/datadog
