Repository DataDog/helm-charts, pull requests merged in 2024-12, with the labels that each got.

#1620 fix(mergequeue): check gitlab-ci to merge PR
  repository.datadog.yml
Labels: tooling, tools/ci

#1612 fix(datadog): rename ci values files to be properly tested
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/ci/agent-sbom-snapshotter-values.yaml
  charts/datadog/ci/autoscaling-values.yaml
  charts/datadog/ci/image-digest-values.yaml
  charts/datadog/ci/image-digest.yaml
  charts/datadog/ci/otlp-ingest-values.yaml
Labels: chart/datadog, mergequeue-status: in_progress

#1382 [CWS] Configuration options for enabling CWSInstrumentation in the `cluster-agent`
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/clusterrole.yaml
  charts/datadog-operator/values.yaml
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/cluster-agent-deployment.yaml
  charts/datadog/templates/cluster-agent-rbac.yaml
  charts/datadog/values.yaml
Labels: not-merge, chart/datadog, chart/datadog-operator, mergequeue-status: in_progress

#1611 Add talos support for os-release files
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/ci/disable-defaultosreleasepath-values.yaml
  charts/datadog/ci/provider-talos-values.yaml
  charts/datadog/templates/NOTES.txt
  charts/datadog/templates/_container-agent.yaml
  charts/datadog/templates/_container-host-release-volumemounts.yaml
  charts/datadog/templates/_container-process-agent.yaml
  charts/datadog/templates/_container-security-agent.yaml
  charts/datadog/templates/_container-system-probe.yaml
  charts/datadog/templates/_daemonset-volumes-linux.yaml
  charts/datadog/templates/_helpers.tpl
  charts/datadog/values.yaml
Labels: chart/datadog, mergequeue-status: in_progress

#1624 [PAR] update PAR image
  charts/private-action-runner/CHANGELOG.md
  charts/private-action-runner/Chart.yaml
  charts/private-action-runner/README.md
  charts/private-action-runner/README.md.gotmpl
  charts/private-action-runner/values.yaml
  test/private-action-runner/__snapshot__/default.yaml
  test/private-action-runner/__snapshot__/enable-kubernetes-actions.yaml
Labels: chart/private-action-runner

#1614 [CODEOWNERS] Update processes to container-intake
  .github/CODEOWNERS
Labels: tools/ci, mergequeue-status: rejected

#1630 [PAR] update PAR image to v0.1.8-beta
  charts/private-action-runner/CHANGELOG.md
  charts/private-action-runner/Chart.yaml
  charts/private-action-runner/README.md
  charts/private-action-runner/README.md.gotmpl
  charts/private-action-runner/values.yaml
  test/private-action-runner/__snapshot__/default.yaml
  test/private-action-runner/__snapshot__/enable-kubernetes-actions.yaml
Labels: chart/private-action-runner

#1637 Bump python version to 3.12 in CI
  .github/workflows/ci.yaml
  .gitignore
Labels: mergequeue-status: error, tools/ci

#1638 [ACTP] Bump runner version to v0.1.9-beta
  charts/private-action-runner/CHANGELOG.md
  charts/private-action-runner/Chart.yaml
  charts/private-action-runner/README.md
  charts/private-action-runner/README.md.gotmpl
  charts/private-action-runner/values.yaml
  test/private-action-runner/__snapshot__/default.yaml
  test/private-action-runner/__snapshot__/enable-kubernetes-actions.yaml
Labels: chart/private-action-runner

#1640 [datadog-crds] Update CRDs from Datadog Operator v1.11.0 tag
  charts/datadog-crds/CHANGELOG.md
  charts/datadog-crds/Chart.yaml
  charts/datadog-crds/README.md
  charts/datadog-crds/templates/datadoghq.com_datadogagentprofiles_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogagents_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogdashboards_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogmetrics_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogmonitors_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogpodautoscalers_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogslos_v1.yaml
  crds/datadoghq.com_datadogagentprofiles.yaml
  crds/datadoghq.com_datadogagents.yaml
  crds/datadoghq.com_datadogdashboards.yaml
  crds/datadoghq.com_datadogmetrics.yaml
  crds/datadoghq.com_datadogmonitors.yaml
  crds/datadoghq.com_datadogpodautoscalers.yaml
  crds/datadoghq.com_datadogslos.yaml
Labels: chart/datadog-crds, dependencies

#1627 [PROCS-4586] Enable process checks in the core agent by default
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_helpers.tpl
  charts/datadog/values.yaml
  test/datadog/process_agent_test.go
Labels: chart/datadog, mergequeue-status: in_progress

#1646 [release]: Synthetics Private Location 1.54.0
  charts/synthetics-private-location/CHANGELOG.md
  charts/synthetics-private-location/Chart.yaml
  charts/synthetics-private-location/README.md
  charts/synthetics-private-location/values.yaml
Labels: chart/synthetics-private-location

#1647 Update README.md
  charts/synthetics-private-location/README.md
Labels: chart/synthetics-private-location

#1615 Remove deployments.apps example for resources tag option
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
Labels: chart/datadog

#1641 [datadog-operator] Update operator version to 1.11.1
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.lock
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/_helpers.tpl
  charts/datadog-operator/templates/clusterrole.yaml
  charts/datadog-operator/values.yaml
  test/datadog-operator/baseline/DatadogAgent_CRD_default.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog-operator/operator_deployment_test.go
Labels: chart/datadog-operator

#1639 [CONTP-519] Support K8s admin events
  charts/datadog/CHANGELOG.md
  charts/datadog/README.md
  charts/datadog/templates/cluster-agent-deployment.yaml
  charts/datadog/values.yaml
Labels: chart/datadog, mergequeue-status: error

#1650 fix(datadog): version 3.84.3 was not created properly
  charts/datadog/Chart.yaml
  charts/datadog/README.md
Labels: chart/datadog, mergequeue-status: in_progress

#1649 fix(datadog): propagate `datadog.site` option to the `otelCollector` config
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_otel_agent_config.yaml
Labels: bug, chart/datadog, mergequeue-status: in_progress

#1645 [USMON-1389] service discovery: Add support
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/NOTES.txt
  charts/datadog/templates/_helpers.tpl
  charts/datadog/templates/system-probe-configmap.yaml
  charts/datadog/values.yaml
Labels: chart/datadog, mergequeue-status: in_progress

#1651 feat(admission): add delete RBAC for datadog-webhook
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/cluster-agent-rbac.yaml
Labels: enhancement, chart/datadog, mergequeue-status: in_progress

#1653 [datadog] otel-agent: the otel-agent should be launched with --core-config
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_container-otel-agent.yaml
Labels: bug, chart/datadog, mergequeue-status: in_progress
