Repository DataDog/helm-charts, pull requests merged in 2024-07, with the labels that each got.

#1426 DD PL: add DNS policy
  charts/synthetics-private-location/CHANGELOG.md
  charts/synthetics-private-location/Chart.yaml
  charts/synthetics-private-location/README.md
  charts/synthetics-private-location/templates/deployment.yaml
  charts/synthetics-private-location/values.yaml
Labels: enhancement, chart/synthetics-private-location

#1435 Add Kubernetes 1.30 to Operator integ test
  .github/workflows/go-test.yaml
Labels: tooling, tools/ci

#1440 Remove startup probe for Agent in GKE AutoPilot due to restrictions
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_container-agent.yaml
Labels: chart/datadog

#1441 [EDS] Add rbac for the leader election lease
  charts/extended-daemon-set/CHANGELOG.md
  charts/extended-daemon-set/Chart.yaml
  charts/extended-daemon-set/README.md
  charts/extended-daemon-set/templates/role.yaml
Labels: chart/extended-daemon-set

#1444 [synthetics] Bump to 0.16.4 with PL 1.49.0
  charts/synthetics-private-location/CHANGELOG.md
  charts/synthetics-private-location/Chart.yaml
  charts/synthetics-private-location/README.md
  charts/synthetics-private-location/values.yaml
Labels: chart/synthetics-private-location

#1446 make sure that disabling CSPM host benchmarks is propagated to the agent
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_container-security-agent.yaml
  charts/datadog/values.yaml
Labels: chart/datadog

#1432 Add image.doNotCheckTag to operator chart
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/NOTES.txt
  charts/datadog-operator/templates/_helpers.tpl
  charts/datadog-operator/templates/deployment.yaml
  charts/datadog-operator/values.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog-operator/baseline/Operator_Deployment_with_certManager.yaml
  test/datadog/baseline/agent-clusterchecks-deployment_default.yaml
  test/datadog/baseline/cluster-agent-deployment_default.yaml
  test/datadog/baseline/cluster-agent-deployment_default_advanced_AC_injection.yaml
  test/datadog/baseline/cluster-agent-deployment_default_minimal_AC_injection.yaml
  test/datadog/baseline/daemonset_default.yaml
  test/datadog/baseline/other_default.yaml
Labels: enhancement, chart/datadog-operator

#1445 Configure security context for the seccomp-setup initContainer
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_system-probe-init.yaml
Labels: chart/datadog

#1447 [OPA-2008] Upgrade OPW helm chart to use to 2.1.0 image
  charts/observability-pipelines-worker/CHANGELOG.md
  charts/observability-pipelines-worker/Chart.yaml
  charts/observability-pipelines-worker/README.md
  charts/observability-pipelines-worker/values.yaml
Labels: chart/observability-pipelines-worker

#1439 [PROCS-3709] Add support to run process checks in core agent
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_container-agent.yaml
  charts/datadog/templates/_container-process-agent.yaml
  charts/datadog/templates/_daemonset-volumes-linux.yaml
  charts/datadog/templates/_processes-common-env.yaml
  charts/datadog/values.yaml
Labels: chart/datadog

#1456 Set default (cluster-)agent version to 7.55.1
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
Labels: chart/datadog, mergequeue-status: in_progress

#1451 [PROCS-4201] Add automatic detection for enabling the process agent container
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_container-process-agent.yaml
  charts/datadog/templates/_daemonset-volumes-linux.yaml
  charts/datadog/templates/_helpers.tpl
  charts/datadog/templates/_processes-common-env.yaml
  charts/datadog/templates/daemonset.yaml
  charts/datadog/values.yaml
  test/datadog/process_agent_test.go
Labels: chart/datadog

#1449 support setting annotations on datadog-operator deployment
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/deployment.yaml
  charts/datadog-operator/values.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog-operator/baseline/Operator_Deployment_with_certManager.yaml
  test/datadog/baseline/agent-clusterchecks-deployment_default.yaml
  test/datadog/baseline/cluster-agent-deployment_default.yaml
  test/datadog/baseline/cluster-agent-deployment_default_advanced_AC_injection.yaml
  test/datadog/baseline/cluster-agent-deployment_default_minimal_AC_injection.yaml
  test/datadog/baseline/daemonset_default.yaml
  test/datadog/baseline/other_default.yaml
  test/datadog/dca_AC_sidecar_test.go
Labels: enhancement, chart/datadog-operator, mergequeue-status: error

#1460 [CONTP-342] Fix container lifecycle
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_container-agent.yaml
Labels: chart/datadog

#1461 [observability-pipelines-worker] 2.1.1 release
  charts/observability-pipelines-worker/CHANGELOG.md
  charts/observability-pipelines-worker/Chart.yaml
  charts/observability-pipelines-worker/README.md
  charts/observability-pipelines-worker/values.yaml
Labels: chart/observability-pipelines-worker

#1429 Add helm chart installation for OTel Agent
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/ci/agent-otel-collector-no-config-values.yaml
  charts/datadog/ci/agent-otel-collector-ports-values.yaml
  charts/datadog/ci/agent-otel-collector-values.yaml
  charts/datadog/templates/NOTES.txt
  charts/datadog/templates/_container-agent.yaml
  charts/datadog/templates/_container-otel-agent.yaml
  charts/datadog/templates/_helpers.tpl
  charts/datadog/templates/_otel_agent_config.yaml
  charts/datadog/templates/agent-services.yaml
  charts/datadog/templates/daemonset.yaml
  charts/datadog/templates/otel-configmap.yaml
  charts/datadog/values.yaml
  examples/datadog/agent_otel_collector.yaml
  examples/datadog/otel_collector_config.yaml
Labels: documentation, chart/datadog, mergequeue-status: in_progress

#1468 Set default (cluster-)agent version to 7.55.2
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
Labels: chart/datadog, mergequeue-status: in_progress
