Repository DataDog/helm-charts, pull requests merged in 2024-10, with the labels that each got.

#1508 feat(admission controller): add ValidatingWebhookConfigurations RBAC
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/cluster-agent-rbac.yaml
  charts/datadog/values.yaml
Labels: chart/datadog

#1490 Fix a few typos on otel agent in values.yaml
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
Labels: chart/datadog, mergequeue-status: in_progress

#1549 [observability-pipelines-worker] 2.2.0 release
  charts/observability-pipelines-worker/CHANGELOG.md
  charts/observability-pipelines-worker/Chart.yaml
  charts/observability-pipelines-worker/README.md
  charts/observability-pipelines-worker/values.yaml
Labels: chart/observability-pipelines-worker

#1489 Simplify OTel Agent default pipelines
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_otel_agent_config.yaml
Labels: enhancement, chart/datadog

#1554 Update crds for operator v1.9.0
  charts/datadog-crds/CHANGELOG.md
  charts/datadog-crds/Chart.yaml
  charts/datadog-crds/README.md
  charts/datadog-crds/templates/datadoghq.com_datadogagentprofiles_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogdashboards_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogmonitors_v1.yaml
  charts/datadog-crds/update-crds.sh
  charts/datadog-crds/values.yaml
  crds/datadoghq.com_datadogagentprofiles.yaml
  crds/datadoghq.com_datadogdashboards.yaml
  crds/datadoghq.com_datadogmonitors.yaml
Labels: chart/datadog-crds

#1556 Bump PAR chart to 0.14.1
  charts/private-action-runner/CHANGELOG.md
  charts/private-action-runner/Chart.yaml
  charts/private-action-runner/README.md
  charts/private-action-runner/README.md.gotmpl
  charts/private-action-runner/values.yaml
  test/private-action-runner/__snapshot__/default.yaml
  test/private-action-runner/__snapshot__/enable-kubernetes-actions.yaml
Labels: chart/private-action-runner

#1541 Mount /usr/lib/sysimage/rpm when using host SBOM feature
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_container-agent.yaml
  charts/datadog/templates/_daemonset-volumes-linux.yaml
Labels: bug, chart/datadog, mergequeue-status: error

#1559 Reverts #1541: do not attempt to mount `/usr/lib/sysimage/rpm`
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_container-agent.yaml
  charts/datadog/templates/_daemonset-volumes-linux.yaml
Labels: bug, chart/datadog

#1515 fix: Move DD_ADMISSION_CONTROLLER_CONTAINER_REGISTRY outside of sidecar condition
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_ac-agent-sidecar-env.yaml
  charts/datadog/templates/cluster-agent-deployment.yaml
Labels: chart/datadog

#1560 Added helm chart option to enable event source mapping
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/cluster-agent-deployment.yaml
  charts/datadog/values.yaml
Labels: chart/datadog, mergequeue-status: in_progress

#1563 [Synthetics Private Location]: Bump Image version to 1.53.0
  charts/synthetics-private-location/CHANGELOG.md
  charts/synthetics-private-location/Chart.yaml
  charts/synthetics-private-location/README.md
  charts/synthetics-private-location/values.yaml
Labels: chart/synthetics-private-location

#1562 Fix system probe error message
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/NOTES.txt
Labels: chart/datadog

#1568 Update agent / cluster-agent to 7.58.0
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
  test/datadog/baseline/agent-clusterchecks-deployment_default.yaml
  test/datadog/baseline/cluster-agent-deployment_default.yaml
  test/datadog/baseline/cluster-agent-deployment_default_advanced_AC_injection.yaml
  test/datadog/baseline/cluster-agent-deployment_default_minimal_AC_injection.yaml
  test/datadog/baseline/daemonset_default.yaml
  test/datadog/baseline/other_default.yaml
Labels: chart/datadog, mergequeue-status: in_progress

#1486 ci: update Kube and test workflows
  .github/helm-docs.sh
  .github/kubeconform.sh
  .github/workflows/ci.yaml
  .github/workflows/go-test.yaml
Labels: chart/datadog, mergequeue-status: waiting, tools/ci

#1576 [CI] Remove k8s 1.18.20 from testing matrix
  .github/workflows/ci.yaml
Labels: chart/datadog, mergequeue-status: in_progress, tools/ci

#1573 Enable support for uncompressed layers by default
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
Labels: bug, chart/datadog, mergequeue-status: in_progress, tools/ci

#1579 fix: re-introduce k8s 1.18 CI testing
  .github/workflows/ci.yaml
  .github/workflows/go-test.yaml
Labels: mergequeue-status: in_progress, tools/ci

#1585 Use uncompressedlayerssupport only if containerImage is enabled
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_container-agent.yaml
  charts/datadog/templates/_daemonset-volumes-linux.yaml
  charts/datadog/templates/daemonset.yaml
Labels: bug, chart/datadog

#1551 Fix helm installation warnings
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/NOTES.txt
  charts/datadog/values.yaml
Labels: chart/datadog

#1587 Bump runner version to v0.1.3-beta
  charts/private-action-runner/CHANGELOG.md
  charts/private-action-runner/Chart.yaml
  charts/private-action-runner/README.md
  charts/private-action-runner/README.md.gotmpl
  charts/private-action-runner/values.yaml
  test/private-action-runner/__snapshot__/default.yaml
  test/private-action-runner/__snapshot__/enable-kubernetes-actions.yaml
Labels: chart/private-action-runner

#1577 [dca] [rbac] Add RBAC rules allowing PDB collection
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/cluster-agent-rbac.yaml
  test/datadog/baseline/agent-clusterchecks-deployment_default.yaml
  test/datadog/baseline/cluster-agent-deployment_default.yaml
  test/datadog/baseline/cluster-agent-deployment_default_advanced_AC_injection.yaml
  test/datadog/baseline/cluster-agent-deployment_default_minimal_AC_injection.yaml
  test/datadog/baseline/daemonset_default.yaml
  test/datadog/baseline/other_default.yaml
Labels: chart/datadog, mergequeue-status: in_progress

#1540 Add support for overlayfs direct scan for SBOMs
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_container-agent.yaml
  charts/datadog/templates/_daemonset-volumes-linux.yaml
  charts/datadog/templates/daemonset.yaml
  charts/datadog/values.yaml
Labels: chart/datadog, mergequeue-status: waiting

#1594 Delete default configuration files from cluster checks runner
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/agent-clusterchecks-deployment.yaml
Labels: chart/datadog
