Repository DataDog/helm-charts, pull requests merged in 2024-03, with the labels that each got.

#1341 Avoid running e2e state during mergequeue run
  .gitlab-ci.yml
Labels: tooling, tools/ci

#1342 Run e2e tests during mergequeue for `datadog` chart
  .gitlab-ci.yml
Labels: mergequeue-status: removed, tools/ci

#1340 [Synthetics] Update PL version to 1.45.0
  charts/synthetics-private-location/CHANGELOG.md
  charts/synthetics-private-location/Chart.yaml
  charts/synthetics-private-location/README.md
  charts/synthetics-private-location/values.yaml
Labels: chart/synthetics-private-location

#1349 [datadog-operator] bump chart to 1.5.2
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog-operator/baseline/Operator_Deployment_with_certManager.yaml
Labels: chart/datadog-operator

#1331 Fix typo in notes
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/NOTES.txt
Labels: chart/datadog

#1351 feat(datadog): set default version to 7.52.0
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
Labels: chart/datadog

#1348 Agent sidecar injection support via Admission Controller
  .github/workflows/go-test.yaml
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_ac-agent-sidecar-env.yaml
  charts/datadog/templates/cluster-agent-deployment.yaml
  charts/datadog/values.yaml
  test/common/common.go
  test/datadog/baseline/agent-clusterchecks-deployment_default.yaml
  test/datadog/baseline/cluster-agent-deployment_default.yaml
  test/datadog/baseline/cluster-agent-deployment_default_advanced_AC_injection.yaml
  test/datadog/baseline/cluster-agent-deployment_default_minimal_AC_injection.yaml
  test/datadog/baseline/daemonset_default.yaml
  test/datadog/baseline/other_default.yaml
  test/datadog/baseline_test.go
  test/datadog/dca_AC_sidecar_test.go
  test/datadog/manifests/dca_AC_sidecar_advanced.yaml
  test/datadog/manifests/dca_AC_sidecar_fargateMinimal.yaml
  test/datadog/testmain_test.go
Labels: not-merge, chart/datadog, tools/ci

#1353 Disable language detection reporting by default
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_components-common-env.yaml
Labels: chart/datadog

#1356 Update PL version to 1.46.0
  charts/synthetics-private-location/CHANGELOG.md
  charts/synthetics-private-location/Chart.yaml
  charts/synthetics-private-location/README.md
  charts/synthetics-private-location/values.yaml
Labels: chart/synthetics-private-location

#1359 Update CRDs for operator 1.5.0
  charts/datadog-crds/CHANGELOG.md
  charts/datadog-crds/Chart.yaml
  charts/datadog-crds/README.md
  charts/datadog-crds/templates/datadoghq.com_datadogagentprofiles_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogagentprofiles_v1beta1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogagents_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogagents_v1beta1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogmonitors_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogmonitors_v1beta1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogslos_v1beta1.yaml
  charts/datadog-crds/update-crds.sh
  charts/datadog-crds/values.yaml
  crds/datadoghq.com_datadogagentprofiles.yaml
  crds/datadoghq.com_datadogagents.yaml
  crds/datadoghq.com_datadogmonitors.yaml
Labels: chart/datadog-crds

#1355 [PROCS-3871] Add contimage and contlcycle endpoints to Cilium network policy
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/agent-cilium-network-policy.yaml
Labels: chart/datadog

#1360 Add Operator 1.5.0
  .github/workflows/go-test.yaml
  Makefile
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.lock
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/README.md.gotmpl
  charts/datadog-operator/templates/clusterrole.yaml
  charts/datadog-operator/templates/deployment.yaml
  charts/datadog-operator/values.yaml
  test/datadog-operator/baseline/DatadogAgent_CRD_default.yaml
  test/datadog-operator/baseline/DatadogAgent_CRD_with_certManager.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog-operator/baseline/Operator_Deployment_with_certManager.yaml
  test/datadog-operator/operator_deployment_test.go
Labels: chart/datadog-operator, tools/ci
