Repository DataDog/helm-charts, pull requests merged in 2024-08, with the labels that each got.

#1465 [APF-14][APPS-1875] Add Private Action Runner helm chart
  .github/CODEOWNERS
  charts/private-action-runner/.helmignore
  charts/private-action-runner/CHANGELOG.md
  charts/private-action-runner/Chart.yaml
  charts/private-action-runner/README.md
  charts/private-action-runner/README.md.gotmpl
  charts/private-action-runner/ci/kubeconform-values.yaml
  charts/private-action-runner/examples/config.yaml
  charts/private-action-runner/templates/NOTES.txt
  charts/private-action-runner/templates/_helpers.tpl
  charts/private-action-runner/templates/deployment.yaml
  charts/private-action-runner/templates/role.yaml
  charts/private-action-runner/templates/rolebinding.yaml
  charts/private-action-runner/templates/secrets.yaml
  charts/private-action-runner/templates/service.yaml
  charts/private-action-runner/templates/serviceaccount.yaml
  charts/private-action-runner/values.yaml
Labels: editorial review, tools/ci, mergequeue-status: rejected

#1442 Add support for enabling autoscaling
  charts/datadog-crds/Chart.yaml
  charts/datadog-crds/README.md
  charts/datadog-crds/templates/datadoghq.com_datadogpodautoscalers_v1.yaml
  charts/datadog-crds/update-crds.sh
  charts/datadog-crds/values.yaml
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/values.yaml
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/ci/autoscaling.yaml
  charts/datadog/ci/no-hardened-seccomp-values.yaml
  charts/datadog/requirements.lock
  charts/datadog/requirements.yaml
  charts/datadog/templates/NOTES.txt
  charts/datadog/templates/_helpers.tpl
  charts/datadog/templates/cluster-agent-deployment.yaml
  charts/datadog/templates/cluster-agent-rbac.yaml
  charts/datadog/values.yaml
  crds/datadoghq.com_datadogpodautoscalers.yaml
Labels: chart/datadog, chart/datadog-operator, chart/datadog-crds

#1473 Remove XValidation rule from DPA CRD as requires K8S >= 1.25
  charts/datadog-crds/CHANGELOG.md
  charts/datadog-crds/Chart.yaml
  charts/datadog-crds/README.md
  charts/datadog-crds/ci/kubeconform-values.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogpodautoscalers_v1.yaml
Labels: chart/datadog-crds

#1472 Update datadog-crds chart to latest version
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.lock
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/requirements.lock
  charts/datadog/requirements.yaml
Labels: chart/datadog, chart/datadog-operator

#1484 [APF-14] Update chart instructions to reflect new UI and split image value
  .github/workflows/labeler/labels.yaml
  charts/private-action-runner/CHANGELOG.md
  charts/private-action-runner/Chart.yaml
  charts/private-action-runner/README.md
  charts/private-action-runner/README.md.gotmpl
  charts/private-action-runner/templates/deployment.yaml
  charts/private-action-runner/templates/secrets.yaml
  charts/private-action-runner/values.yaml
  repository.datadog.yml
Labels: tools/ci, chart/private-action-runner

#1492 [APF-14] Send MANAGED_BY environment variable
  charts/private-action-runner/CHANGELOG.md
  charts/private-action-runner/Chart.yaml
  charts/private-action-runner/README.md
  charts/private-action-runner/README.md.gotmpl
  charts/private-action-runner/templates/deployment.yaml
  charts/private-action-runner/values.yaml
Labels: chart/private-action-runner

#1491 [datadog-crds] update CRDs following datadog operator 1.8.0 release
  charts/datadog-crds/CHANGELOG.md
  charts/datadog-crds/Chart.yaml
  charts/datadog-crds/README.md
  charts/datadog-crds/templates/datadoghq.com_datadogagentprofiles_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogagentprofiles_v1beta1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogagents_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogagents_v1beta1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogmetrics_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogmonitors_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogslos_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogslos_v1beta1.yaml
  charts/datadog-crds/update-crds.sh
  charts/datadog-crds/values.yaml
  crds/datadoghq.com_datadogagentprofiles.yaml
  crds/datadoghq.com_datadogagents.yaml
  crds/datadoghq.com_datadogmetrics.yaml
  crds/datadoghq.com_datadogmonitors.yaml
  crds/datadoghq.com_datadogpodautoscalers.yaml
  crds/datadoghq.com_datadogslos.yaml
Labels: chart/datadog-crds

#1494 [datadog-operator] update operator version to 1.8.0
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.lock
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/README.md.gotmpl
  charts/datadog-operator/templates/NOTES.txt
  charts/datadog-operator/templates/_helpers.tpl
  charts/datadog-operator/templates/certificate_conversion.yaml
  charts/datadog-operator/templates/clusterrole.yaml
  charts/datadog-operator/templates/deployment.yaml
  charts/datadog-operator/templates/webhook-service.yaml
  charts/datadog-operator/values.yaml
  test/datadog-operator/baseline/DatadogAgent_CRD_default.yaml
  test/datadog-operator/baseline/DatadogAgent_CRD_with_certManager.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog-operator/baseline/Operator_Deployment_with_certManager.yaml
  test/datadog-operator/baseline_test.go
  test/datadog-operator/operator_deployment_test.go
  test/datadog/baseline/agent-clusterchecks-deployment_default.yaml
  test/datadog/baseline/cluster-agent-deployment_default.yaml
  test/datadog/baseline/cluster-agent-deployment_default_advanced_AC_injection.yaml
  test/datadog/baseline/cluster-agent-deployment_default_minimal_AC_injection.yaml
  test/datadog/baseline/daemonset_default.yaml
  test/datadog/baseline/other_default.yaml
  test/datadog/dca_AC_sidecar_test.go
Labels: chart/datadog-operator

#1498 [Synthetics] Private Location: Release 1.50.0
  charts/synthetics-private-location/CHANGELOG.md
  charts/synthetics-private-location/Chart.yaml
  charts/synthetics-private-location/README.md
  charts/synthetics-private-location/values.yaml
Labels: chart/synthetics-private-location

#1500 Set default agent/cluster agent version to `7.56.0`
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
Labels: chart/datadog, mergequeue-status: in_progress

#1499 Private action runner helm chart YAML formatting tweaks
  charts/private-action-runner/CHANGELOG.md
  charts/private-action-runner/Chart.yaml
  charts/private-action-runner/README.md
  charts/private-action-runner/README.md.gotmpl
  charts/private-action-runner/examples/config.yaml
  charts/private-action-runner/values.yaml
Labels: mergequeue-status: rejected, chart/private-action-runner

#1501 [WF-8933] Bumping version to alpha29
  charts/private-action-runner/CHANGELOG.md
  charts/private-action-runner/Chart.yaml
  charts/private-action-runner/README.md
  charts/private-action-runner/README.md.gotmpl
  charts/private-action-runner/values.yaml
Labels: chart/private-action-runner

#1502 Update helm chart to allow `kubelet.coreCheckEnabled` to be set to false
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_container-agent.yaml
Labels: chart/datadog

#1505 Add admission controller port to cilium network policy for the cluster agent
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/cluster-agent-cilium-network-policy.yaml
Labels: chart/datadog

#1496 [ASCII-2204] Update fips-proxy image tag to 1.1.4 release
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
Labels: chart/datadog, mergequeue-status: in_progress

#1504 [PROCS-4293] Improve support for `processAgent.runInCoreAgent` feature
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_container-agent.yaml
  charts/datadog/templates/_daemonset-volumes-linux.yaml
  charts/datadog/templates/_helpers.tpl
  charts/datadog/templates/_processes-common-env.yaml
  test/datadog/process_agent_test.go
  test/datadog/values/process-run-in-core-envvars.yaml
Labels: chart/datadog

#1510 Set default agent/cluster agent version to `7.56.1`
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
Labels: chart/datadog

#1506 [CONS-6524] Standardize example OpenShift values
  examples/datadog/agent_on_openshift_values.yaml
Labels: documentation
