Repository DataDog/helm-charts, pull requests merged in 2025-02, with the labels that each got.

#1686 [CONTINT-4500] [helm] Add EKS Clusterrole Rule for EKS control plane metrics
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/rbac.yaml
Labels: chart/datadog

#1688 ci: pin all GitHub Actions by SHA and update via dependabot
  .github/workflows/ci.yaml
  .github/workflows/go-test-private-action-runner.yaml
  .github/workflows/go-test.yaml
  .github/workflows/pr-labeler.yaml
  .github/workflows/release.yaml
Labels: tooling, mergequeue-status: waiting, tools/ci

#1687 [CONTINT-4500] [operator] Add EKS Clusterrole Rule to Operator for EKS control plane metrics
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/clusterrole.yaml
Labels: chart/datadog-operator, mergequeue-status: error

#1661 Add DD_AGENT_IPC_* env vars
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_container-agent.yaml
  charts/datadog/templates/_container-otel-agent.yaml
  charts/datadog/templates/_helpers.tpl
  test/datadog/otel_agent_test.go
Labels: chart/datadog

#1690 [datadog-crds] Update CRDs from Operator v1.12.0
  charts/datadog-crds/CHANGELOG.md
  charts/datadog-crds/Chart.yaml
  charts/datadog-crds/README.md
  charts/datadog-crds/templates/datadoghq.com_datadogagentprofiles_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogagents_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogpodautoscalers_v1.yaml
  crds/datadoghq.com_datadogagentprofiles.yaml
  crds/datadoghq.com_datadogagents.yaml
  crds/datadoghq.com_datadogpodautoscalers.yaml
  test/datadog/baseline/agent-clusterchecks-deployment_default.yaml
  test/datadog/baseline/cluster-agent-deployment_default.yaml
  test/datadog/baseline/cluster-agent-deployment_default_advanced_AC_injection.yaml
  test/datadog/baseline/cluster-agent-deployment_default_minimal_AC_injection.yaml
  test/datadog/baseline/daemonset_default.yaml
  test/datadog/baseline/gdc_daemonset_default.yaml
  test/datadog/baseline/gdc_daemonset_logs_collection.yaml
  test/datadog/baseline/other_default.yaml
Labels: chart/datadog-crds

#1694 [datadog-crds] add DatadogGenericResources CRD
  charts/datadog-crds/CHANGELOG.md
  charts/datadog-crds/Chart.yaml
  charts/datadog-crds/README.md
  charts/datadog-crds/templates/datadoghq.com_datadoggenericresources_v1.yaml
  charts/datadog-crds/update-crds.sh
  charts/datadog-crds/values.yaml
  crds/datadoghq.com_datadoggenericresources.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog/baseline/agent-clusterchecks-deployment_default.yaml
  test/datadog/baseline/cluster-agent-deployment_default.yaml
  test/datadog/baseline/cluster-agent-deployment_default_advanced_AC_injection.yaml
  test/datadog/baseline/cluster-agent-deployment_default_minimal_AC_injection.yaml
  test/datadog/baseline/daemonset_default.yaml
  test/datadog/baseline/gdc_daemonset_default.yaml
  test/datadog/baseline/gdc_daemonset_logs_collection.yaml
  test/datadog/baseline/other_default.yaml
Labels: chart/datadog-crds

#1692 [datadog-operator] Update Operator version to 1.12.0
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.lock
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/_helpers.tpl
  charts/datadog-operator/templates/clusterrole.yaml
  charts/datadog-operator/templates/deployment.yaml
  charts/datadog-operator/values.yaml
  test/datadog-operator/baseline/DatadogAgent_CRD_default.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog-operator/operator_deployment_test.go
Labels: chart/datadog-operator

#1695 [PAR] Add gitlab credentials example
  charts/private-action-runner/CHANGELOG.md
  charts/private-action-runner/Chart.yaml
  charts/private-action-runner/README.md
  charts/private-action-runner/README.md.gotmpl
  charts/private-action-runner/examples/values.yaml
Labels: mergequeue-status: error, chart/private-action-runner

#1699 default to gcr on us3 when autopilot
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_helpers.tpl
  charts/datadog/values.yaml
Labels: bug, chart/datadog, mergequeue-status: in_progress

#1701 Update private action image version to `v0.1.11-beta`
  charts/private-action-runner/CHANGELOG.md
  charts/private-action-runner/Chart.yaml
  charts/private-action-runner/README.md
  charts/private-action-runner/README.md.gotmpl
  charts/private-action-runner/values.yaml
  test/private-action-runner/__snapshot__/default.yaml
  test/private-action-runner/__snapshot__/enable-kubernetes-actions.yaml
Labels: chart/private-action-runner

#1703 [AGENTRUN-117] Update FIPS Proxy version to 1.1.7
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
Labels: chart/datadog, mergequeue-status: in_progress

#1681 Support GPU monitoring
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_container-system-probe.yaml
  charts/datadog/templates/_daemonset-volumes-linux.yaml
  charts/datadog/templates/_helpers.tpl
  charts/datadog/templates/daemonset.yaml
  charts/datadog/templates/system-probe-configmap.yaml
  charts/datadog/values.yaml
Labels: chart/datadog, mergequeue-status: in_progress

#1706 Add service account additional labels
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/ci/agent-with-additional-rbac-label-values.yaml
  charts/datadog/ci/cluster-agent-and-worker-with-dedicated-rbac-label-values.yaml
  charts/datadog/templates/agent-clusterchecks-rbac.yaml
  charts/datadog/templates/cluster-agent-rbac.yaml
  charts/datadog/templates/rbac.yaml
  charts/datadog/values.yaml
  test/datadog/baseline/agent-clusterchecks-deployment_default.yaml
  test/datadog/baseline/cluster-agent-deployment_default.yaml
  test/datadog/baseline/cluster-agent-deployment_default_advanced_AC_injection.yaml
  test/datadog/baseline/cluster-agent-deployment_default_minimal_AC_injection.yaml
  test/datadog/baseline/daemonset_default.yaml
  test/datadog/baseline/gdc_daemonset_default.yaml
  test/datadog/baseline/gdc_daemonset_logs_collection.yaml
  test/datadog/baseline/other_default.yaml
Labels: enhancement, chart/datadog, mergequeue-status: in_progress

#1710 Fix a bug where setting `datadog.containerImageCollection.enabled` to `false` does not disable image collection
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_container-agent.yaml
Labels: bug, chart/datadog

#1715 Bump Agent version to 7.63
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
  test/datadog/baseline/agent-clusterchecks-deployment_default.yaml
  test/datadog/baseline/cluster-agent-deployment_default.yaml
  test/datadog/baseline/cluster-agent-deployment_default_advanced_AC_injection.yaml
  test/datadog/baseline/cluster-agent-deployment_default_minimal_AC_injection.yaml
  test/datadog/baseline/daemonset_default.yaml
  test/datadog/baseline/gdc_daemonset_default.yaml
  test/datadog/baseline/gdc_daemonset_logs_collection.yaml
  test/datadog/baseline/other_default.yaml
Labels: chart/datadog

#1718 Update field documentation from beta to preview
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
Labels: chart/datadog, mergequeue-status: in_progress

#1709 Add AllowlistSynchronizer for GKE Autopilot
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_helpers.tpl
  charts/datadog/templates/gke_autopilot_allowlist_synchronizer.yaml
  test/datadog/baseline/agent-clusterchecks-deployment_default.yaml
  test/datadog/baseline/cluster-agent-deployment_default.yaml
  test/datadog/baseline/cluster-agent-deployment_default_advanced_AC_injection.yaml
  test/datadog/baseline/cluster-agent-deployment_default_minimal_AC_injection.yaml
  test/datadog/baseline/daemonset_default.yaml
  test/datadog/baseline/gdc_daemonset_default.yaml
  test/datadog/baseline/gdc_daemonset_logs_collection.yaml
  test/datadog/baseline/other_default.yaml
Labels: enhancement, chart/datadog, mergequeue-status: in_progress

#1719 [CONTP-679] Fix bug in dca rbac generation for annotations and labels as tags: use deepcopy before merging
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/cluster-agent-rbac.yaml
  test/datadog/baseline/agent-clusterchecks-deployment_default.yaml
  test/datadog/baseline/cluster-agent-deployment_default.yaml
  test/datadog/baseline/cluster-agent-deployment_default_advanced_AC_injection.yaml
  test/datadog/baseline/cluster-agent-deployment_default_minimal_AC_injection.yaml
  test/datadog/baseline/daemonset_default.yaml
  test/datadog/baseline/gdc_daemonset_default.yaml
  test/datadog/baseline/gdc_daemonset_logs_collection.yaml
  test/datadog/baseline/other_default.yaml
Labels: chart/datadog

#1727 Update agent to 7.63.2
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
  test/datadog/baseline/agent-clusterchecks-deployment_default.yaml
  test/datadog/baseline/cluster-agent-deployment_default.yaml
  test/datadog/baseline/cluster-agent-deployment_default_advanced_AC_injection.yaml
  test/datadog/baseline/cluster-agent-deployment_default_minimal_AC_injection.yaml
  test/datadog/baseline/daemonset_default.yaml
  test/datadog/baseline/default_all.yaml
  test/datadog/baseline/gdc_daemonset_default.yaml
  test/datadog/baseline/gdc_daemonset_logs_collection.yaml
  test/datadog/baseline/other_default.yaml
Labels: chart/datadog, tools/ci
