Repository DataDog/helm-charts, pull requests merged in 2025-06, with the labels that each got.

#1873 Do not mount /etc/passwd if agent is running unprivileged
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_helpers.tpl
  test/datadog/process_agent_test.go
Labels: chart/datadog, datadog/patch-version

#1891 [ACTP] add support for kubernetes deployments actions
  charts/private-action-runner/CHANGELOG.md
  charts/private-action-runner/Chart.yaml
  charts/private-action-runner/README.md
  charts/private-action-runner/examples/values.yaml
  charts/private-action-runner/templates/_helpers.tpl
  charts/private-action-runner/templates/role.yaml
  charts/private-action-runner/values.schema.json
  charts/private-action-runner/values.yaml
  test/private-action-runner/__snapshot__/config-overrides.yaml
  test/private-action-runner/__snapshot__/custom-resources.yaml
  test/private-action-runner/__snapshot__/default.yaml
  test/private-action-runner/__snapshot__/enable-kubernetes-actions.yaml
  test/private-action-runner/__snapshot__/example.yaml
  test/private-action-runner/__snapshot__/external-secrets.yaml
  test/private-action-runner/baseline_test.go
Labels: mergequeue-status: error, chart/private-action-runner, private-action-runner/minor-version

#1893 Enable local fallback when workload autoscaling enabled
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_container-agent.yaml
  charts/datadog/templates/cluster-agent-deployment.yaml
Labels: chart/datadog, mergequeue-status: in_progress, datadog/minor-version

#1902 [SYNTH-20069] Bump PL to 1.57.0
  charts/synthetics-private-location/CHANGELOG.md
  charts/synthetics-private-location/Chart.yaml
  charts/synthetics-private-location/README.md
  charts/synthetics-private-location/values.yaml
Labels: chart/synthetics-private-location, mergequeue-status: in_progress

#1903 [ACTP] Bump private actions runner version to v1.4.0
  charts/private-action-runner/CHANGELOG.md
  charts/private-action-runner/Chart.yaml
  charts/private-action-runner/README.md
  charts/private-action-runner/values.yaml
  test/private-action-runner/__snapshot__/config-overrides.yaml
  test/private-action-runner/__snapshot__/custom-resources.yaml
  test/private-action-runner/__snapshot__/default.yaml
  test/private-action-runner/__snapshot__/enable-kubernetes-actions.yaml
  test/private-action-runner/__snapshot__/example.yaml
  test/private-action-runner/__snapshot__/external-secrets.yaml
Labels: chart/private-action-runner

#1911 Bump datadog chart datadog-crds dependency version to 2.8.0
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/requirements.lock
  charts/datadog/requirements.yaml
Labels: chart/datadog, mergequeue-status: in_progress, datadog/patch-version

#1901 fix seccomp/apparmor for agent container
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_helpers.tpl
  test/common/common.go
  test/datadog/apparmor_test.go
Labels: chart/datadog, mergequeue-status: in_progress, datadog/patch-version

#1916 [datadog-operator] Update chart for 1.15.1 release
  Makefile
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.lock
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/_helpers.tpl
  charts/datadog-operator/values.yaml
  test/datadog-operator/baseline/DatadogAgent_CRD_default.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog-operator/operator_deployment_test.go
Labels: chart/datadog-operator, tools/ci

#1922 Update image tag to 1.16.0-rc.1
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/_helpers.tpl
  charts/datadog-operator/values.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog-operator/operator_deployment_test.go
Labels: chart/datadog-operator

#1909 [ACTP-745] update PAR configuration file location
  charts/private-action-runner/CHANGELOG.md
  charts/private-action-runner/Chart.yaml
  charts/private-action-runner/README.md
  charts/private-action-runner/README.md.gotmpl
  charts/private-action-runner/UPGRADING.md
  charts/private-action-runner/examples/values.yaml
  charts/private-action-runner/templates/deployment.yaml
  charts/private-action-runner/values.yaml
  test/private-action-runner/__snapshot__/config-overrides.yaml
  test/private-action-runner/__snapshot__/custom-pod-scheduling.yaml
  test/private-action-runner/__snapshot__/custom-resources.yaml
  test/private-action-runner/__snapshot__/default.yaml
  test/private-action-runner/__snapshot__/enable-kubernetes-actions.yaml
  test/private-action-runner/__snapshot__/example.yaml
  test/private-action-runner/__snapshot__/external-secrets.yaml
  test/private-action-runner/data/old-values-file.yaml
Labels: chart/private-action-runner, private-action-runner/minor-version

#1927 Operator Go test matrix update, add 1.33
  .github/workflows/go-test-operator.yaml
Labels: no-chart, tooling, tools/ci

#1932 Enable dogstatsd in clusterchecks when jmx image is used for cluster check runners
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/agent-clusterchecks-deployment.yaml
Labels: bug, chart/datadog

#1937 Upgrade default Agent version to 7.67.0
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
  test/datadog/baseline/manifests/adp_enabled.yaml
  test/datadog/baseline/manifests/agent-clusterchecks-deployment_default.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default_advanced_AC_injection.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default_minimal_AC_injection.yaml
  test/datadog/baseline/manifests/daemonset_default.yaml
  test/datadog/baseline/manifests/default_all.yaml
  test/datadog/baseline/manifests/default_all_windows.yaml
  test/datadog/baseline/manifests/gdc_daemonset_default.yaml
  test/datadog/baseline/manifests/gdc_daemonset_logs_collection.yaml
  test/datadog/baseline/manifests/gke_autopilot_allowlistedv2workload_default.yaml
  test/datadog/baseline/manifests/gke_autopilot_allowlistedv2workload_kubelet_apiserver.yaml
  test/datadog/baseline/manifests/gke_autopilot_npm.yaml
  test/datadog/baseline/manifests/gke_autopilot_system_probe.yaml
  test/datadog/baseline/manifests/gke_autopilot_usm.yaml
  test/datadog/baseline/manifests/gke_autopilot_workloadallowlist_default.yaml
  test/datadog/baseline/manifests/kube-state-metrics-custom-resources.yaml
  test/datadog/baseline/manifests/npm_daemonset_default.yaml
  test/datadog/baseline/manifests/otel-agent_config_ports.yaml
  test/datadog/baseline/manifests/otel-agent_configmap.yaml
  test/datadog/baseline/manifests/otel-agent_container_ports.yaml
  test/datadog/baseline/manifests/otel-agent_logs_collection.yaml
  test/datadog/baseline/manifests/otel-agent_volume_mounts.yaml
  test/datadog/baseline/manifests/otel_enabled.yaml
  test/datadog/baseline/manifests/other_default.yaml
  test/datadog/baseline/manifests/system_probe_daemonset_default.yaml
  test/datadog/baseline/manifests/usm_daemonset_default.yaml
Labels: chart/datadog

#1938 [PAR] instructions for roleType
  charts/private-action-runner/README.md
  charts/private-action-runner/README.md.gotmpl
Labels: chart/private-action-runner, private-action-runner/no-version-bump

#1781 feat(instrumentation): support valueFrom
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.schema.json
  charts/datadog/values.yaml
  test/datadog/apm_instrumentation_test.go
  test/datadog/values/instrumentation/values_from.yaml
  test/datadog/values/instrumentation/values_from_invalid.yaml
Labels: chart/datadog, mergequeue-status: in_progress

#1929 Otel Agent: add support for multi items in configmap
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_container-otel-agent.yaml
  charts/datadog/templates/daemonset.yaml
  charts/datadog/values.yaml
Labels: chart/datadog, mergequeue-status: in_progress, datadog/patch-version
