Repository DataDog/helm-charts, pull requests merged in 2025-03, with the labels that each got.

#1726 Add NVIDIA_VISIBLE_DEVICES env var in GPU monitoring
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_container-agent.yaml
  charts/datadog/templates/_container-system-probe.yaml
Labels: chart/datadog, mergequeue-status: in_progress

#1729 Upgrade PAR version to v0.1.12-beta
  charts/private-action-runner/CHANGELOG.md
  charts/private-action-runner/Chart.yaml
  charts/private-action-runner/README.md
  charts/private-action-runner/README.md.gotmpl
  charts/private-action-runner/values.yaml
  test/private-action-runner/__snapshot__/default.yaml
  test/private-action-runner/__snapshot__/enable-kubernetes-actions.yaml
Labels: mergequeue-status: error, chart/private-action-runner

#1724 Use hot folder with values files for baselines; render all resources
  .github/PULL_REQUEST_TEMPLATE.md
  test/datadog/baseline/manifests/agent-clusterchecks-deployment_default.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default_advanced_AC_injection.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default_minimal_AC_injection.yaml
  test/datadog/baseline/manifests/daemonset_default.yaml
  test/datadog/baseline/manifests/default_all.yaml
  test/datadog/baseline/manifests/gdc_daemonset_default.yaml
  test/datadog/baseline/manifests/gdc_daemonset_logs_collection.yaml
  test/datadog/baseline/manifests/other_default.yaml
  test/datadog/baseline/values/agent-clusterchecks-deployment_default.yaml
  test/datadog/baseline/values/cluster-agent-deployment_default.yaml
  test/datadog/baseline/values/cluster-agent-deployment_default_advanced_AC_injection.yaml
  test/datadog/baseline/values/cluster-agent-deployment_default_minimal_AC_injection.yaml
  test/datadog/baseline/values/daemonset_default.yaml
  test/datadog/baseline/values/default_all.yaml
  test/datadog/baseline/values/gdc_daemonset_default.yaml
  test/datadog/baseline/values/gdc_daemonset_logs_collection.yaml
  test/datadog/baseline/values/other_default.yaml
  test/datadog/baseline_test.go
Labels: tooling, tools/ci

#1732 build: ⬆️ bump PL version to 1.55.0
  charts/synthetics-private-location/CHANGELOG.md
  charts/synthetics-private-location/Chart.yaml
  charts/synthetics-private-location/README.md
  charts/synthetics-private-location/values.yaml
Labels: chart/synthetics-private-location

#1734 [observability-pipelines-worker] 2.4.0 release
  charts/observability-pipelines-worker/CHANGELOG.md
  charts/observability-pipelines-worker/Chart.yaml
  charts/observability-pipelines-worker/README.md
  charts/observability-pipelines-worker/values.yaml
Labels: chart/observability-pipelines-worker

#1738 Add baseline for Windows and OTEL collector
  test/datadog/baseline/agent-clusterchecks-deployment_default.yaml
  test/datadog/baseline/cluster-agent-deployment_default.yaml
  test/datadog/baseline/cluster-agent-deployment_default_advanced_AC_injection.yaml
  test/datadog/baseline/cluster-agent-deployment_default_minimal_AC_injection.yaml
  test/datadog/baseline/daemonset_default.yaml
  test/datadog/baseline/gdc_daemonset_default.yaml
  test/datadog/baseline/gdc_daemonset_logs_collection.yaml
  test/datadog/baseline/manifests/default_all_windows.yaml
  test/datadog/baseline/manifests/otel_enabled.yaml
  test/datadog/baseline/values/default_all_windows.yaml
  test/datadog/baseline/values/otel_enabled.yaml
Labels: tooling

#1740 [datadog] Update Agent components to `7.63.3`
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
  test/datadog/baseline/manifests/agent-clusterchecks-deployment_default.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default_advanced_AC_injection.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default_minimal_AC_injection.yaml
  test/datadog/baseline/manifests/daemonset_default.yaml
  test/datadog/baseline/manifests/default_all.yaml
  test/datadog/baseline/manifests/default_all_windows.yaml
  test/datadog/baseline/manifests/gdc_daemonset_default.yaml
  test/datadog/baseline/manifests/gdc_daemonset_logs_collection.yaml
  test/datadog/baseline/manifests/otel_enabled.yaml
  test/datadog/baseline/manifests/other_default.yaml
Labels: chart/datadog

#1742 Remove checksum field from otel baseline test
  test/datadog/baseline/manifests/otel_enabled.yaml
  test/datadog/baseline_test.go
Labels: tooling

#1741 Update FIPS Proxy version to 1.1.8
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
Labels: chart/datadog, mergequeue-status: in_progress

#1693 OTAGENT-254 Add support for enhanced RBAC permissions for otel-agent
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/ci/agent-otel-collector-with-rbac-custom-rules-values.yaml
  charts/datadog/ci/agent-otel-collector-with-rbac-values.yaml
  charts/datadog/templates/_helpers.tpl
  charts/datadog/templates/otel-agent-rbac.yaml
  charts/datadog/values.yaml
Labels: chart/datadog, mergequeue-status: in_progress

#1739 [DSCVR-75] Add config option for Service Discovery network stats collection
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_helpers.tpl
  charts/datadog/templates/system-probe-configmap.yaml
  charts/datadog/values.yaml
Labels: chart/datadog, mergequeue-status: in_progress

#1737 Upgrade PAR version to v0.1.14-beta
  charts/private-action-runner/CHANGELOG.md
  charts/private-action-runner/Chart.yaml
  charts/private-action-runner/README.md
  charts/private-action-runner/README.md.gotmpl
  charts/private-action-runner/values.yaml
  test/private-action-runner/__snapshot__/default.yaml
  test/private-action-runner/__snapshot__/enable-kubernetes-actions.yaml
Labels: chart/private-action-runner

#1728 Add autopilot, USM, and system-probe baseline tests
  .github/CODEOWNERS
  test/datadog/baseline/manifests/gke_autopilot_daemonset_default.yaml
  test/datadog/baseline/manifests/npm_daemonset_default.yaml
  test/datadog/baseline/manifests/system_probe_daemonset_default.yaml
  test/datadog/baseline/manifests/usm_daemonset_default.yaml
  test/datadog/baseline/values/gke_autopilot_daemonset_default.yaml
  test/datadog/baseline/values/npm_daemonset_default.yaml
  test/datadog/baseline/values/system_probe_daemonset_default.yaml
  test/datadog/baseline/values/usm_daemonset_default.yaml
Labels: chart/datadog, mergequeue-status: in_progress, tools/ci

#1260 Add default container resources for gke autopilot
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_container-agent.yaml
  charts/datadog/templates/_container-process-agent.yaml
  charts/datadog/templates/_container-resources.yaml
  charts/datadog/templates/_container-trace-agent.yaml
  charts/datadog/templates/_containers-init-linux.yaml
  charts/datadog/templates/agent-clusterchecks-deployment.yaml
  charts/datadog/templates/cluster-agent-deployment.yaml
  charts/datadog/values.yaml
  test/datadog/baseline/manifests/gke_autopilot_daemonset_default.yaml
Labels: chart/datadog, mergequeue-status: in_progress

#1750 Add datadog.otelCollector.featureGates
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/ci/agent-otel-collector-values.yaml
  charts/datadog/templates/_container-otel-agent.yaml
  charts/datadog/values.yaml
Labels: chart/datadog

#1625 feat(error-tracking): add settings for backend standalone
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_container-trace-agent.yaml
  charts/datadog/values.yaml
Labels: chart/datadog

#1725 OTAGENT-286 Add support for filelog receiver
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/ci/agent-otel-collector-logs-values.yaml
  charts/datadog/ci/agent-otel-collector-volume-mounts-values.yaml
  charts/datadog/templates/_container-otel-agent.yaml
  charts/datadog/templates/_daemonset-volumes-linux.yaml
  charts/datadog/templates/_helpers.tpl
  charts/datadog/values.yaml
  test/datadog/baseline/manifests/otel-agent_logs_collection.yaml
  test/datadog/baseline/manifests/otel-agent_volume_mounts.yaml
  test/datadog/baseline/values/otel-agent_logs_collection.yaml
  test/datadog/baseline/values/otel-agent_volume_mounts.yaml
Labels: chart/datadog, mergequeue-status: in_progress

#1753 [PAR] update PAR image to v1.0.0
  charts/private-action-runner/CHANGELOG.md
  charts/private-action-runner/Chart.yaml
  charts/private-action-runner/README.md
  charts/private-action-runner/README.md.gotmpl
  charts/private-action-runner/values.yaml
  test/private-action-runner/__snapshot__/config-overrides.yaml
  test/private-action-runner/__snapshot__/default.yaml
  test/private-action-runner/__snapshot__/enable-kubernetes-actions.yaml
Labels: chart/private-action-runner

#1744 [NPM-3754] Add config to enable traceroute in sysprobe
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/NOTES.txt
  charts/datadog/templates/_helpers.tpl
  charts/datadog/templates/system-probe-configmap.yaml
  charts/datadog/values.yaml
  test/datadog/baseline/manifests/npm_daemonset_default.yaml
  test/datadog/baseline/manifests/system_probe_daemonset_default.yaml
  test/datadog/baseline/manifests/usm_daemonset_default.yaml
Labels: chart/datadog

#1743 Add auth-token mount to process-agent on Windows
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_container-process-agent.yaml
  test/datadog/baseline/manifests/default_all_windows.yaml
Labels: chart/datadog

#1748 feat: add validation for instrumentation values
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.schema.json
  test/datadog/apm_instrumentation_test.go
  test/datadog/values/instrumentation/enabled_and_disabled_namespaces.yaml
  test/datadog/values/instrumentation/extra_instrumentation_key.yaml
  test/datadog/values/instrumentation/extra_namespaceselector_key.yaml
  test/datadog/values/instrumentation/extra_podselector_key.yaml
  test/datadog/values/instrumentation/extra_target_key.yaml
  test/datadog/values/instrumentation/libversions_and_targets.yaml
  test/datadog/values/instrumentation/namespace_exprs_and_names.yaml
  test/datadog/values/instrumentation/namespace_labels_and_names.yaml
  test/datadog/values/instrumentation/namespaces_and_targets.yaml
  test/datadog/values/instrumentation/valid_enabled.yaml
  test/datadog/values/instrumentation/valid_namespace.yaml
  test/datadog/values/instrumentation/valid_targets.yaml
Labels: chart/datadog, mergequeue-status: in_progress

#1754 [observability-pipelines-worker] 2.4.1 and 2.4.2 releases
  charts/observability-pipelines-worker/CHANGELOG.md
  charts/observability-pipelines-worker/Chart.yaml
  charts/observability-pipelines-worker/README.md
  charts/observability-pipelines-worker/values.yaml
Labels: chart/observability-pipelines-worker

#1756 [datadog-crds] Update CRDs for Operator 1.13.0
  charts/datadog-crds/CHANGELOG.md
  charts/datadog-crds/Chart.yaml
  charts/datadog-crds/README.md
  charts/datadog-crds/templates/datadoghq.com_datadogagents_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadoggenericresources_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogpodautoscalers_v1.yaml
  crds/datadoghq.com_datadogagents.yaml
  crds/datadoghq.com_datadoggenericresources.yaml
  crds/datadoghq.com_datadogpodautoscalers.yaml
Labels: chart/datadog-crds

#1757 [datadog-operator] Update chart for 1.13.0 release
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.lock
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/_helpers.tpl
  charts/datadog-operator/templates/clusterrole.yaml
  charts/datadog-operator/values.yaml
  test/datadog-operator/baseline/DatadogAgent_CRD_default.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog-operator/operator_deployment_test.go
Labels: chart/datadog-operator

#1758 Enable pod-resources socket only with GPU monitoring enabled
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_container-agent.yaml
  charts/datadog/templates/_daemonset-volumes-linux.yaml
  test/datadog/baseline/manifests/agent-clusterchecks-deployment_default.yaml
  test/datadog/baseline/manifests/daemonset_default.yaml
  test/datadog/baseline/manifests/default_all.yaml
  test/datadog/baseline/manifests/npm_daemonset_default.yaml
  test/datadog/baseline/manifests/otel-agent_logs_collection.yaml
  test/datadog/baseline/manifests/otel-agent_volume_mounts.yaml
  test/datadog/baseline/manifests/otel_enabled.yaml
  test/datadog/baseline/manifests/other_default.yaml
  test/datadog/baseline/manifests/system_probe_daemonset_default.yaml
  test/datadog/baseline/manifests/usm_daemonset_default.yaml
Labels: chart/datadog, mergequeue-status: in_progress

#1761 [errortracking] fix error tracking standalone config
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_container-agent.yaml
  charts/datadog/templates/_container-trace-agent.yaml
  charts/datadog/values.schema.json
Labels: chart/datadog, mergequeue-status: in_progress

#1768 Update DPA storage version to v1alpha2
  charts/datadog-crds/CHANGELOG.md
  charts/datadog-crds/Chart.yaml
  charts/datadog-crds/README.md
  charts/datadog-crds/templates/datadoghq.com_datadogpodautoscalers_v1.yaml
  crds/datadoghq.com_datadogpodautoscalers.yaml
Labels: chart/datadog-crds

#1767 Update DPA CRD version alongside Agent/Cluster Agent version 7.64. Auto add DPA to orchestrator collection
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/ci/autoscaling-values.yaml
  charts/datadog/requirements.lock
  charts/datadog/requirements.yaml
  charts/datadog/templates/_helpers.tpl
  charts/datadog/templates/_orchestrator_explorer_config.yaml
  charts/datadog/values.yaml
  test/datadog/baseline/manifests/agent-clusterchecks-deployment_default.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default_advanced_AC_injection.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default_minimal_AC_injection.yaml
  test/datadog/baseline/manifests/daemonset_default.yaml
  test/datadog/baseline/manifests/default_all.yaml
  test/datadog/baseline/manifests/default_all_windows.yaml
  test/datadog/baseline/manifests/gdc_daemonset_default.yaml
  test/datadog/baseline/manifests/gdc_daemonset_logs_collection.yaml
  test/datadog/baseline/manifests/gke_autopilot_daemonset_default.yaml
  test/datadog/baseline/manifests/npm_daemonset_default.yaml
  test/datadog/baseline/manifests/otel-agent_logs_collection.yaml
  test/datadog/baseline/manifests/otel-agent_volume_mounts.yaml
  test/datadog/baseline/manifests/otel_enabled.yaml
  test/datadog/baseline/manifests/other_default.yaml
  test/datadog/baseline/manifests/system_probe_daemonset_default.yaml
  test/datadog/baseline/manifests/usm_daemonset_default.yaml
Labels: chart/datadog, chart/datadog-crds

#1751 [CONTP-691] add datadog-csi-driver helm chart
  .github/CODEOWNERS
  .github/workflows/release.yaml
  charts/datadog-csi-driver/.helmignore
  charts/datadog-csi-driver/CHANGELOG.md
  charts/datadog-csi-driver/Chart.yaml
  charts/datadog-csi-driver/README.md
  charts/datadog-csi-driver/ci/kubeconform-values.yaml
  charts/datadog-csi-driver/templates/_helpers.tpl
  charts/datadog-csi-driver/templates/csidriver.yaml
  charts/datadog-csi-driver/templates/daemonset.yaml
  charts/datadog-csi-driver/values.yaml
Labels: tools/ci

#1771 [ACTP] upgrade image to v1.1.1
  charts/private-action-runner/CHANGELOG.md
  charts/private-action-runner/Chart.yaml
  charts/private-action-runner/README.md
  charts/private-action-runner/README.md.gotmpl
  charts/private-action-runner/values.yaml
  test/private-action-runner/__snapshot__/config-overrides.yaml
  test/private-action-runner/__snapshot__/default.yaml
  test/private-action-runner/__snapshot__/enable-kubernetes-actions.yaml
Labels: chart/private-action-runner

#1765 [ACTP] Update postgres credential file example for private action runner
  charts/private-action-runner/CHANGELOG.md
  charts/private-action-runner/Chart.yaml
  charts/private-action-runner/examples/values.yaml
Labels: mergequeue-status: rejected, chart/private-action-runner

#1773 [ACTP-459] deploy the PAR with a role instead of a cluster role by default
  charts/private-action-runner/CHANGELOG.md
  charts/private-action-runner/Chart.yaml
  charts/private-action-runner/README.md
  charts/private-action-runner/README.md.gotmpl
  charts/private-action-runner/examples/values.yaml
  charts/private-action-runner/templates/NOTES.txt
  charts/private-action-runner/templates/role.yaml
  charts/private-action-runner/templates/rolebinding.yaml
  charts/private-action-runner/values.yaml
  test/private-action-runner/__snapshot__/config-overrides.yaml
  test/private-action-runner/__snapshot__/default.yaml
  test/private-action-runner/__snapshot__/enable-kubernetes-actions.yaml
  test/private-action-runner/__snapshot__/external-secrets.yaml
  test/private-action-runner/baseline_test.go
Labels: chart/private-action-runner

#1766 [CECO-2073] Align core Agent config with processes-specific config
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_container-agent.yaml
  test/datadog/baseline/manifests/agent-clusterchecks-deployment_default.yaml
  test/datadog/baseline/manifests/daemonset_default.yaml
  test/datadog/baseline/manifests/default_all.yaml
  test/datadog/baseline/manifests/default_all_windows.yaml
  test/datadog/baseline/manifests/gke_autopilot_daemonset_default.yaml
  test/datadog/baseline/manifests/npm_daemonset_default.yaml
  test/datadog/baseline/manifests/otel-agent_logs_collection.yaml
  test/datadog/baseline/manifests/otel-agent_volume_mounts.yaml
  test/datadog/baseline/manifests/otel_enabled.yaml
  test/datadog/baseline/manifests/other_default.yaml
  test/datadog/baseline/manifests/system_probe_daemonset_default.yaml
  test/datadog/baseline/manifests/usm_daemonset_default.yaml
  test/datadog/unified_core_agent_config_test.go
Labels: chart/datadog, mergequeue-status: in_progress

#1774 [ACTP-462] allow to store PAR credential files outside of the helm chart
  charts/private-action-runner/CHANGELOG.md
  charts/private-action-runner/Chart.yaml
  charts/private-action-runner/README.md
  charts/private-action-runner/README.md.gotmpl
  charts/private-action-runner/examples/values.yaml
  charts/private-action-runner/templates/deployment.yaml
  charts/private-action-runner/values.yaml
  test/private-action-runner/__snapshot__/external-secrets.yaml
  test/private-action-runner/baseline_test.go
Labels: chart/private-action-runner

#1775 [PAR] chart cleanup
  charts/private-action-runner/CHANGELOG.md
  charts/private-action-runner/Chart.yaml
  charts/private-action-runner/README.md
  charts/private-action-runner/README.md.gotmpl
  charts/private-action-runner/templates/NOTES.txt
  charts/private-action-runner/templates/_helpers.tpl
  charts/private-action-runner/templates/deployment.yaml
  charts/private-action-runner/templates/secrets.yaml
  test/private-action-runner/__snapshot__/config-overrides.yaml
  test/private-action-runner/__snapshot__/default.yaml
  test/private-action-runner/__snapshot__/enable-kubernetes-actions.yaml
  test/private-action-runner/__snapshot__/external-secrets.yaml
Labels: chart/private-action-runner

#1776 [PAR] Add a makefile entry to update the private-action-runner snapshot tests
  Makefile
Labels: tools/ci

#1777 Update FIPS Proxy version to 1.1.9
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
Labels: chart/datadog, mergequeue-status: in_progress
