Repository DataDog/helm-charts, pull requests merged in 2025-05, with the labels that each got.

#1851 [datadog-operator] fix changelog
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
Labels: chart/datadog-operator

#1850 [OTAGENT-391] Update _container-otel-agent.yaml
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_container-otel-agent.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog/baseline/manifests/otel-agent_logs_collection.yaml
  test/datadog/baseline/manifests/otel-agent_volume_mounts.yaml
  test/datadog/baseline/manifests/otel_enabled.yaml
Labels: chart/datadog, datadog/patch-version

#1841 OTAGENT-387 Add support for configuring DDOT with a ConfigMap
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/daemonset.yaml
  charts/datadog/templates/otel-configmap.yaml
  charts/datadog/values.yaml
  test/datadog/baseline/manifests/otel-agent_configmap.yaml
  test/datadog/baseline/values/otel-agent_configmap.yaml
Labels: chart/datadog, mergequeue-status: in_progress, datadog/minor-version

#1849 Update CloudPrem Helm chart
  charts/cloudprem/CHANGELOG.md
  charts/cloudprem/Chart.yaml
  charts/cloudprem/README.md
  charts/cloudprem/datadog.yaml
  charts/cloudprem/templates/_helpers.tpl
  charts/cloudprem/templates/configmap.yaml
  charts/cloudprem/templates/indexer-statefulset.yaml
  charts/cloudprem/values.yaml
Labels: chart/cloudprem

#1853 [observability-pipelines-worker] 2.5.1 release
  charts/observability-pipelines-worker/CHANGELOG.md
  charts/observability-pipelines-worker/Chart.yaml
  charts/observability-pipelines-worker/README.md
  charts/observability-pipelines-worker/values.yaml
Labels: chart/observability-pipelines-worker

#1852 Update FIPS Proxy version to 1.1.10
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
Labels: chart/datadog, mergequeue-status: in_progress

#1854 [datadog] Upgrade default agent and cluster-agent versions to 7.65.0
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
  test/datadog/baseline/manifests/agent-clusterchecks-deployment_default.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default_advanced_AC_injection.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default_minimal_AC_injection.yaml
  test/datadog/baseline/manifests/daemonset_default.yaml
  test/datadog/baseline/manifests/default_all.yaml
  test/datadog/baseline/manifests/default_all_windows.yaml
  test/datadog/baseline/manifests/gdc_daemonset_default.yaml
  test/datadog/baseline/manifests/gdc_daemonset_logs_collection.yaml
  test/datadog/baseline/manifests/gke_autopilot_allowlistedv2workload_default.yaml
  test/datadog/baseline/manifests/gke_autopilot_npm.yaml
  test/datadog/baseline/manifests/gke_autopilot_system_probe.yaml
  test/datadog/baseline/manifests/gke_autopilot_usm.yaml
  test/datadog/baseline/manifests/gke_autopilot_workloadallowlist_default.yaml
  test/datadog/baseline/manifests/npm_daemonset_default.yaml
  test/datadog/baseline/manifests/otel-agent_configmap.yaml
  test/datadog/baseline/manifests/otel-agent_logs_collection.yaml
  test/datadog/baseline/manifests/otel-agent_volume_mounts.yaml
  test/datadog/baseline/manifests/otel_enabled.yaml
  test/datadog/baseline/manifests/other_default.yaml
  test/datadog/baseline/manifests/system_probe_daemonset_default.yaml
  test/datadog/baseline/manifests/usm_daemonset_default.yaml
Labels: chart/datadog, mergequeue-status: in_progress, datadog/minor-version

#1856 fix image pull secrets in csi driver chart
  charts/datadog-csi-driver/CHANGELOG.md
  charts/datadog-csi-driver/Chart.yaml
  charts/datadog-csi-driver/README.md
  charts/datadog-csi-driver/templates/daemonset.yaml
Labels: datadog-csi-driver/patch-version, chart/datadog-csi-driver

#1857 Update CRDs for operator 1.15.0-rc.1
  charts/datadog-crds/CHANGELOG.md
  charts/datadog-crds/Chart.yaml
  charts/datadog-crds/README.md
  charts/datadog-crds/templates/datadoghq.com_datadogagents_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogpodautoscalers_v1.yaml
  crds/datadoghq.com_datadogagents.yaml
  crds/datadoghq.com_datadogpodautoscalers.yaml
Labels: chart/datadog-crds

#1835 [AGENTRUN-230] Add support for a fips_mode value that will add the -fips image tagSuffix
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/README.md.gotmpl
  charts/datadog/templates/NOTES.txt
  charts/datadog/templates/_container-fips-proxy.yaml
  charts/datadog/templates/_daemonset-volumes-linux.yaml
  charts/datadog/templates/_helpers.tpl
  charts/datadog/templates/agent-clusterchecks-deployment.yaml
  charts/datadog/templates/cluster-agent-deployment.yaml
  charts/datadog/templates/daemonset.yaml
  charts/datadog/values.yaml
  test/datadog/fips_mode_test.go
Labels: chart/datadog, mergequeue-status: in_progress, datadog/minor-version

#1858 [datadog-operator] Update operator chart for 1.15.0-rc.1
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.lock
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/_helpers.tpl
  charts/datadog-operator/templates/clusterrole.yaml
  charts/datadog-operator/values.yaml
  test/datadog-operator/baseline/DatadogAgent_CRD_default.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog-operator/operator_deployment_test.go
Labels: chart/datadog-operator

#1860 Fix default cluster check runner container resources for GKE Autopilot
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/agent-clusterchecks-deployment.yaml
  test/datadog/baseline/manifests/gke_autopilot_allowlistedv2workload_default.yaml
  test/datadog/baseline/manifests/gke_autopilot_workloadallowlist_default.yaml
  test/datadog/baseline/values/gke_autopilot_allowlistedv2workload_default.yaml
  test/datadog/baseline/values/gke_autopilot_workloadallowlist_default.yaml
Labels: chart/datadog, datadog/patch-version

#1855 [tooling] discard Go helm test outputs; update chart deps in Makefile
  Makefile
  test/common/common.go
Labels: tooling, mergequeue-status: in_progress, tools/ci, tools/tests

#1867 [datadog] Upgrade default agent and cluster-agent versions to 7.65.1
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
  test/datadog/baseline/manifests/agent-clusterchecks-deployment_default.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default_advanced_AC_injection.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default_minimal_AC_injection.yaml
  test/datadog/baseline/manifests/daemonset_default.yaml
  test/datadog/baseline/manifests/default_all.yaml
  test/datadog/baseline/manifests/default_all_windows.yaml
  test/datadog/baseline/manifests/gdc_daemonset_default.yaml
  test/datadog/baseline/manifests/gdc_daemonset_logs_collection.yaml
  test/datadog/baseline/manifests/gke_autopilot_allowlistedv2workload_default.yaml
  test/datadog/baseline/manifests/gke_autopilot_allowlistedv2workload_kubelet_apiserver.yaml
  test/datadog/baseline/manifests/gke_autopilot_npm.yaml
  test/datadog/baseline/manifests/gke_autopilot_system_probe.yaml
  test/datadog/baseline/manifests/gke_autopilot_usm.yaml
  test/datadog/baseline/manifests/gke_autopilot_workloadallowlist_default.yaml
  test/datadog/baseline/manifests/npm_daemonset_default.yaml
  test/datadog/baseline/manifests/otel-agent_configmap.yaml
  test/datadog/baseline/manifests/otel-agent_logs_collection.yaml
  test/datadog/baseline/manifests/otel-agent_volume_mounts.yaml
  test/datadog/baseline/manifests/otel_enabled.yaml
  test/datadog/baseline/manifests/other_default.yaml
  test/datadog/baseline/manifests/system_probe_daemonset_default.yaml
  test/datadog/baseline/manifests/usm_daemonset_default.yaml
Labels: chart/datadog, mergequeue-status: in_progress

#1866 add option to configure csi registrar image
  charts/datadog-csi-driver/CHANGELOG.md
  charts/datadog-csi-driver/Chart.yaml
  charts/datadog-csi-driver/README.md
  charts/datadog-csi-driver/templates/daemonset.yaml
  charts/datadog-csi-driver/values.yaml
Labels: datadog-csi-driver/patch-version, chart/datadog-csi-driver

#1796 fail installation if apm and dogstatsd have different hostpath but same mount path
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/NOTES.txt
Labels: chart/datadog

#1869 fix bug in csi driver chart
  charts/datadog-csi-driver/CHANGELOG.md
  charts/datadog-csi-driver/Chart.yaml
  charts/datadog-csi-driver/README.md
  charts/datadog-csi-driver/templates/daemonset.yaml
Labels: datadog-csi-driver/patch-version, chart/datadog-csi-driver

#1868 [observability-pipelines-worker] 2.5.2 release
  charts/observability-pipelines-worker/CHANGELOG.md
  charts/observability-pipelines-worker/Chart.yaml
  charts/observability-pipelines-worker/README.md
  charts/observability-pipelines-worker/values.yaml
Labels: chart/observability-pipelines-worker, mergequeue-status: error

#1870 Pin helm version to latest
  .github/workflows/ci.yaml
  .github/workflows/go-test-datadog.yaml
  .github/workflows/go-test-operator.yaml
Labels: chart/datadog, chart/datadog-operator, tools/ci

#1865 use securityContext for AppArmor on k8s 1.30+
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_container-agent.yaml
  charts/datadog/templates/_container-system-probe.yaml
  charts/datadog/templates/_helpers.tpl
  charts/datadog/templates/daemonset.yaml
  test/datadog/baseline/manifests/gke_autopilot_npm.yaml
  test/datadog/baseline/manifests/gke_autopilot_system_probe.yaml
  test/datadog/baseline/manifests/gke_autopilot_usm.yaml
  test/datadog/baseline/manifests/npm_daemonset_default.yaml
  test/datadog/baseline/manifests/system_probe_daemonset_default.yaml
  test/datadog/baseline/manifests/usm_daemonset_default.yaml
Labels: chart/datadog, mergequeue-status: in_progress, datadog/patch-version

#1619 modify sysprobe default mem/cpu requests and limits
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
Labels: chart/datadog, mergequeue-status: in_progress

#1875 [datadog] Upgrade default agent and cluster-agent versions to 7.65.2
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/ci/autoscaling-values.yaml
  charts/datadog/values.yaml
  test/datadog/baseline/manifests/agent-clusterchecks-deployment_default.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default_advanced_AC_injection.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default_minimal_AC_injection.yaml
  test/datadog/baseline/manifests/daemonset_default.yaml
  test/datadog/baseline/manifests/default_all.yaml
  test/datadog/baseline/manifests/default_all_windows.yaml
  test/datadog/baseline/manifests/gdc_daemonset_default.yaml
  test/datadog/baseline/manifests/gdc_daemonset_logs_collection.yaml
  test/datadog/baseline/manifests/gke_autopilot_allowlistedv2workload_default.yaml
  test/datadog/baseline/manifests/gke_autopilot_allowlistedv2workload_kubelet_apiserver.yaml
  test/datadog/baseline/manifests/gke_autopilot_npm.yaml
  test/datadog/baseline/manifests/gke_autopilot_system_probe.yaml
  test/datadog/baseline/manifests/gke_autopilot_usm.yaml
  test/datadog/baseline/manifests/gke_autopilot_workloadallowlist_default.yaml
  test/datadog/baseline/manifests/npm_daemonset_default.yaml
  test/datadog/baseline/manifests/otel-agent_configmap.yaml
  test/datadog/baseline/manifests/otel-agent_logs_collection.yaml
  test/datadog/baseline/manifests/otel-agent_volume_mounts.yaml
  test/datadog/baseline/manifests/otel_enabled.yaml
  test/datadog/baseline/manifests/other_default.yaml
  test/datadog/baseline/manifests/system_probe_daemonset_default.yaml
  test/datadog/baseline/manifests/usm_daemonset_default.yaml
Labels: chart/datadog, mergequeue-status: in_progress

#1872 Add support for secret_refresh_interval in chart/datadog
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_components-common-env.yaml
  charts/datadog/values.yaml
Labels: chart/datadog, mergequeue-status: in_progress, datadog/minor-version

#1877 Update CloudPrem Helm chart
  charts/cloudprem/CHANGELOG.md
  charts/cloudprem/Chart.yaml
  charts/cloudprem/README.md
  charts/cloudprem/templates/configmap.yaml
  charts/cloudprem/templates/control-plane-deployment.yaml
  charts/cloudprem/templates/indexer-statefulset.yaml
  charts/cloudprem/templates/janitor-deployment.yaml
  charts/cloudprem/templates/job-create-indices.yaml
  charts/cloudprem/templates/job-create-sources.yaml
  charts/cloudprem/templates/metastore-deployment.yaml
  charts/cloudprem/templates/searcher-statefulset.yaml
  charts/cloudprem/values.yaml
Labels: chart/cloudprem

#1878 (chore) Clean up CI values files for datadog chart
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/ci/agent-otel-collector-logs-values.yaml
  charts/datadog/ci/agent-otel-collector-no-config-values.yaml
  charts/datadog/ci/agent-otel-collector-ports-values.yaml
  charts/datadog/ci/agent-otel-collector-values.yaml
  charts/datadog/ci/agent-otel-collector-volume-mounts-values.yaml
  charts/datadog/ci/agent-otel-collector-with-rbac-custom-rules-values.yaml
  charts/datadog/ci/agent-otel-collector-with-rbac-values.yaml
  charts/datadog/ci/agent-sbom-snapshotter-values.yaml
  charts/datadog/ci/agent-with-additional-rbac-label-values.yaml
  charts/datadog/ci/agent-with-dynamic-annotations-values.yaml
  charts/datadog/ci/apm-disabled-admission-controller-values.yaml
  charts/datadog/ci/apm-enabled-legacy-admission-controller-values.yaml
  charts/datadog/ci/apm-port-enabled-admission-controller-values.yaml
  charts/datadog/ci/apm-single-step-instrumentation-admission-controller-values.yaml
  charts/datadog/ci/apm-socket-and-port-admission-controller-values.yaml
  charts/datadog/ci/apm-socket-enabled-admission-controller-values.yaml
  charts/datadog/ci/cluster-agent-admission-controller-values.yaml
  charts/datadog/ci/cluster-agent-advanced-confd-values.yaml
  charts/datadog/ci/cluster-agent-and-worker-with-dedicated-rbac-label-values.yaml
  charts/datadog/ci/cluster-agent-and-worker-with-dedicated-rbac-values.yaml
  charts/datadog/ci/cluster-agent-metrics-server-service-port-values.yaml
  charts/datadog/ci/cluster-agent-values.yaml
  charts/datadog/ci/cluster-agent-with-dynamic-annotations-values.yaml
  charts/datadog/ci/default-values.yaml
  charts/datadog/ci/disable-apparmor-values.yaml
  charts/datadog/ci/disable-defaultosreleasepath-values.yaml
  charts/datadog/ci/dogstastd-socket-values.yaml
  charts/datadog/ci/fips-configmap-values.yaml
  charts/datadog/ci/gke-autopilot-cri-less-values.yaml
  charts/datadog/ci/gke-autopilot-values.yaml
  charts/datadog/ci/gke-gdc-values.yaml
  charts/datadog/ci/image-digest-values.yaml
  charts/datadog/ci/kubeconform-values.yaml
  charts/datadog/ci/network-policy-values.yaml
  charts/datadog/ci/no-hardened-seccomp-values.yaml
  charts/datadog/ci/otlp-ingest-values.yaml
  charts/datadog/ci/provider-talos-values.yaml
  charts/datadog/ci/psp-test-values.yaml
  charts/datadog/ci/secret-with-dynamic-annotations-values.yaml
  charts/datadog/ci/security-agent-compliance-values.yaml
  charts/datadog/ci/securitycontext-nil-values.yaml
  charts/datadog/ci/system-probe-activity-dump-values.yaml
Labels: chart/datadog, tools/ci, datadog/patch-version

#1879 Update crds for 1.15.0-rc.2
  charts/datadog-crds/CHANGELOG.md
  charts/datadog-crds/Chart.yaml
  charts/datadog-crds/README.md
  charts/datadog-crds/templates/datadoghq.com_datadogagents_v1.yaml
  crds/datadoghq.com_datadogagents.yaml
Labels: chart/datadog-crds

#1880 Update operator chart for 1.15.0-rc.2
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.lock
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/_helpers.tpl
  charts/datadog-operator/values.yaml
  test/datadog-operator/baseline/DatadogAgent_CRD_default.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog-operator/operator_deployment_test.go
Labels: chart/datadog-operator

#1883 [CONTINT-4643] Add an option to configure KSM custom resource metrics collection
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_kubernetes_state_core_config.yaml
  charts/datadog/templates/kube-state-metrics-core-rbac.yaml
  charts/datadog/values.yaml
  test/datadog/baseline/manifests/kube-state-metrics-custom-resources.yaml
  test/datadog/baseline/values/kube-state-metrics-custom-resources.yaml
Labels: chart/datadog, mergequeue-status: in_progress

#1887 Update CloudPrem Helm chart
  charts/cloudprem/CHANGELOG.md
  charts/cloudprem/Chart.yaml
  charts/cloudprem/README.md
  charts/cloudprem/templates/job-create-indices.yaml
  charts/cloudprem/templates/job-create-sources.yaml
  charts/cloudprem/values.yaml
Labels: chart/cloudprem, cloudprem/patch-version

#1892 Add default resource limits for system-probe on gke autopilot
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_container-resources.yaml
  charts/datadog/templates/_container-system-probe.yaml
  test/datadog/baseline/manifests/gke_autopilot_npm.yaml
  test/datadog/baseline/manifests/gke_autopilot_system_probe.yaml
  test/datadog/baseline/manifests/gke_autopilot_usm.yaml
Labels: chart/datadog, datadog/patch-version
